qnap_history/workflow.json
{"updatedAt":"2026-04-27T15:19:06.112Z","createdAt":"2026-04-02T00:33:24.040Z","id":"n7tXaZTayc5UpQDt","name":"Hermes Master: YouTube to Socials","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1NXiSy92js4QEgUjLm4je7o9GwL0OFBFQcMuE2Q01AQ0","mode":"list","cachedResultName":"Social Media Tracker","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1NXiSy92js4QEgUjLm4je7o9GwL0OFBFQcMuE2Q01AQ0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":400869454,"mode":"list","cachedResultName":"Youtube Videos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1NXiSy92js4QEgUjLm4je7o9GwL0OFBFQcMuE2Q01AQ0/edit#gid=400869454"},"columns":{"mappingMode":"autoMapInputData","value":{"videoId":"={{ $json.id }}","video_duration":"={{ $json.contentDetails.duration }}"},"matchingColumns":["videoId"],"schema":[{"id":"videoId","displayName":"videoId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_duration","displayName":"video_duration","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"channelTitle","displayName":"channelTitle","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"publishedAt","displayName":"publishedAt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"TSN_Transcript","displayName":"TSN_Transcript","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nexus_Summary","displayName":"Nexus_Summary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"TSN_LastSync","displayName":"TSN_LastSync","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"kind","displayName":"kind","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"etag","displayName":"etag","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"snippet","displayName":"snippet","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-5120,624],"id":"8fe48c53-c55a-4837-9c52-a7df39028b8f","name":"Append or update row in sheet4","credentials":{"googleSheetsOAuth2Api":{"id":"cCaKxPu7R5DuJeos","name":"Google Sheets account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1NXiSy92js4QEgUjLm4je7o9GwL0OFBFQcMuE2Q01AQ0","mode":"list","cachedResultName":"Social Media Tracker","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1NXiSy92js4QEgUjLm4je7o9GwL0OFBFQcMuE2Q01AQ0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":400869454,"mode":"list","cachedResultName":"Youtube Videos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1NXiSy92js4QEgUjLm4je7o9GwL0OFBFQcMuE2Q01AQ0/edit#gid=400869454"},"columns":{"mappingMode":"autoMapInputData","value":{"publishedAt":"={{ $json.snippet.publishedAt }}","videoId":"={{ $json.id.videoId }}","title":"={{ $json.snippet.title }}","channelTitle":"={{ $json.snippet.channelTitle }}"},"matchingColumns":["videoId"],"schema":[{"id":"videoId","displayName":"videoId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_duration","displayName":"video_duration","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"channelTitle","displayName":"channelTitle","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"publishedAt","displayName":"publishedAt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"TSN_Transcript","displayName":"TSN_Transcript","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nexus_Summary","displayName":"Nexus_Summary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"TSN_LastSync","displayName":"TSN_LastSync","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-5344,432],"id":"af28ee51-d385-4c02-bb11-7cc480d96d13","name":"Append or update row in sheet3","credentials":{"googleSheetsOAuth2Api":{"id":"cCaKxPu7R5DuJeos","name":"Google Sheets account"}}},{"parameters":{"resource":"video","operation":"get","videoId":"={{ $json.id.videoId }}","part":["*","contentDetails","id","player","liveStreamingDetails","localizations","recordingDetails","snippet","statistics","status","topicDetails"],"options":{}},"type":"n8n-nodes-base.youTube","typeVersion":1,"position":[-5344,624],"id":"147cabd7-789d-456c-91c7-9aeca8af0343","name":"Get a video","credentials":{"youTubeOAuth2Api":{"id":"XuNzOxxdsUCdMbxD","name":"YouTube account"}}},{"parameters":{"resource":"video","returnAll":true,"filters":{},"options":{}},"type":"n8n-nodes-base.youTube","typeVersion":1,"position":[-5568,528],"id":"04d67763-1235-4283-8d66-3386559b1e3c","name":"Get many videos","credentials":{"youTubeOAuth2Api":{"id":"XuNzOxxdsUCdMbxD","name":"YouTube account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1NXiSy92js4QEgUjLm4je7o9GwL0OFBFQcMuE2Q01AQ0","mode":"list","cachedResultName":"Social Media Tracker","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1NXiSy92js4QEgUjLm4je7o9GwL0OFBFQcMuE2Q01AQ0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1811703085,"mode":"list","cachedResultName":"Youtube Video categories","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1NXiSy92js4QEgUjLm4je7o9GwL0OFBFQcMuE2Q01AQ0/edit#gid=1811703085"},"columns":{"mappingMode":"autoMapInputData","value":{"id":"={{ $json.id }}","kind":"={{ $json.kind }}","etag":"={{ $json.etag }}","snippet_title":"={{ $json.snippet.title }}","snippet_assignable":"={{ $json.snippet.assignable }}","snippet_channelId":"={{ $json.snippet.channelId }}"},"matchingColumns":["id"],"schema":[{"id":"kind","displayName":"kind","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"etag","displayName":"etag","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"snippet_title","displayName":"snippet_title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"snippet_assignable","displayName":"snippet_assignable","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"snippet_channelId","displayName":"snippet_channelId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"snippet","displayName":"snippet","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-5344,240],"id":"24c4e04d-5fe3-4bcc-bd26-8ca8e6867d78","name":"Append or update row in sheet2","credentials":{"googleSheetsOAuth2Api":{"id":"cCaKxPu7R5DuJeos","name":"Google Sheets account"}}},{"parameters":{"resource":"videoCategory","regionCode":"GB","returnAll":true},"type":"n8n-nodes-base.youTube","typeVersion":1,"position":[-5568,240],"id":"0c2824c9-d71e-49cc-905e-d819886a04d2","name":"Get many video categories","credentials":{"youTubeOAuth2Api":{"id":"XuNzOxxdsUCdMbxD","name":"YouTube account"}}},{"parameters":{"resource":"playlistItem","operation":"getAll","playlistId":"={{ $json.id }}","part":["*","contentDetails","id","snippet","status"],"returnAll":true,"options":{}},"type":"n8n-nodes-base.youTube","typeVersion":1,"position":[-5344,48],"id":"ce5a11ae-cc95-4641-bd10-21067de53ffe","name":"Get many playlist items","credentials":{"youTubeOAuth2Api":{"id":"XuNzOxxdsUCdMbxD","name":"YouTube account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1NXiSy92js4QEgUjLm4je7o9GwL0OFBFQcMuE2Q01AQ0","mode":"list","cachedResultName":"Social Media Tracker","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1NXiSy92js4QEgUjLm4je7o9GwL0OFBFQcMuE2Q01AQ0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":531851866,"mode":"list","cachedResultName":"Youtube Playlist Items","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1NXiSy92js4QEgUjLm4je7o9GwL0OFBFQcMuE2Q01AQ0/edit#gid=531851866"},"columns":{"mappingMode":"autoMapInputData","value":{"kind":"={{ $json.kind }}","etag":"={{ $json.etag }}","playlistId":"={{ $json.id }}","publishedAt":"={{ $json.snippet.publishedAt }}","channelId":"={{ $json.snippet.channelId }}","title":"={{ $json.snippet.title }}","description":"={{ $json.snippet.description }}","channelTitle":"={{ $json.snippet.channelTitle }}","privacyStatus":"={{ $json.status.privacyStatus }}","id":"={{ $json.id }}","thumb_default_url":"={{ $json.snippet.thumbnails.default.url }}","thumb_default_width":"={{ $json.snippet.thumbnails.default.width }}","thumb_default_height":"={{ $json.snippet.thumbnails.default.height }}","thumb_medium_url":"={{ $json.snippet.thumbnails.medium.url }}","thumb_medium_width":"={{ $json.snippet.thumbnails.medium.width }}","thumb_medium_height":"={{ $json.snippet.thumbnails.medium.height }}","thumb_high_url":"={{ $json.snippet.thumbnails.high.url }}","thumb_high_width":"={{ $json.snippet.thumbnails.high.width }}","thumb_high_height":"={{ $json.snippet.thumbnails.high.height }}","thumb_standard_url":"={{ $json.snippet.thumbnails.standard.url }}","thumb_standard_width":"={{ $json.snippet.thumbnails.standard.width }}","thumb_standard_height":"={{ $json.snippet.thumbnails.standard.height }}","thumb_maxres_url":"={{ $json.snippet.thumbnails.maxres.url }}","thumb_maxres_width":"={{ $json.snippet.thumbnails.maxres.width }}","thumb_maxres_height":"={{ $json.snippet.thumbnails.maxres.height }}","position":"={{ $json.snippet.position }}","resourceId_kind":"={{ $json.snippet.resourceId.kind }}","videoId":"={{ $json.snippet.resourceId.videoId }}","videoOwnerChannelTitle":"={{ $json.snippet.videoOwnerChannelTitle }}","videoOwnerChannelId":"={{ $json.snippet.videoOwnerChannelId }}","contentDetails_videoId":"={{ $json.contentDetails.videoId }}","videoPublishedAt":"={{ $json.contentDetails.videoPublishedAt }}"},"matchingColumns":["id"],"schema":[{"id":"kind","displayName":"kind","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"etag","displayName":"etag","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"publishedAt","displayName":"publishedAt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"channelId","displayName":"channelId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"thumb_default_url","displayName":"thumb_default_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"thumb_default_width","displayName":"thumb_default_width","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"thumb_default_height","displayName":"thumb_default_height","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"thumb_medium_url","displayName":"thumb_medium_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"thumb_medium_width","displayName":"thumb_medium_width","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"thumb_medium_height","displayName":"thumb_medium_height","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"thumb_high_url","displayName":"thumb_high_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"thumb_high_width","displayName":"thumb_high_width","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"thumb_high_height","displayName":"thumb_high_height","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"thumb_standard_url","displayName":"thumb_standard_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"thumb_standard_width","displayName":"thumb_standard_width","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"thumb_standard_height","displayName":"thumb_standard_height","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"thumb_maxres_url","displayName":"thumb_maxres_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"thumb_maxres_width","displayName":"thumb_maxres_width","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"thumb_maxres_height","displayName":"thumb_maxres_height","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"channelTitle","displayName":"channelTitle","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"playlistId","displayName":"playlistId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"position","displayName":"position","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"resourceId_kind","displayName":"resourceId_kind","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"videoId","displayName":"videoId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"videoOwnerChannelTitle","displayName":"videoOwnerChannelTitle","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"videoOwnerChannelId","displayName":"videoOwnerChannelId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"contentDetails_videoId","displayName":"contentDetails_videoId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"videoPublishedAt","displayName":"videoPublishedAt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"privacyStatus","displayName":"privacyStatus","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"snippet","displayName":"snippet","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"contentDetails","displayName":"contentDetails","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-5120,48],"id":"1440c7c9-2d3b-46b7-bc1c-461068708fe6","name":"Append or update row in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"cCaKxPu7R5DuJeos","name":"Google Sheets account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1NXiSy92js4QEgUjLm4je7o9GwL0OFBFQcMuE2Q01AQ0","mode":"list","cachedResultName":"Social Media Tracker","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1NXiSy92js4QEgUjLm4je7o9GwL0OFBFQcMuE2Q01AQ0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1533629162,"mode":"list","cachedResultName":"Youtube Playlists","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1NXiSy92js4QEgUjLm4je7o9GwL0OFBFQcMuE2Q01AQ0/edit#gid=1533629162"},"columns":{"mappingMode":"autoMapInputData","value":{"kind":"={{ $json.kind }}","etag":"={{ $json.etag }}","playlistId":"={{ $json.id }}","publishedAt":"={{ $json.snippet.publishedAt }}","channelId":"={{ $json.snippet.channelId }}","title":"={{ $json.snippet.title }}","description":"={{ $json.snippet.description }}","thumbDefaultUrl":"={{ $json.snippet.thumbnails.default.url }}","thumbDefaultW":"={{ $json.snippet.thumbnails.default.width }}","thumbDefaultH":"={{ $json.snippet.thumbnails.default.height }}","thumbMediumUrl":"={{ $json.snippet.thumbnails.medium.url }}","thumbMediumW":"={{ $json.snippet.thumbnails.medium.width }}","thumbMediumH":"={{ $json.snippet.thumbnails.medium.height }}","thumbHighUrl":"={{ $json.snippet.thumbnails.high.url }}","thumbHighW":"={{ $json.snippet.thumbnails.high.width }}","thumbHighH":"={{ $json.snippet.thumbnails.high.height }}","thumbStandardUrl":"={{ $json.snippet.thumbnails.high.url }}","thumbStandardW":"={{ $json.snippet.thumbnails.high.width }}","thumbStandardH":"={{ $json.snippet.thumbnails.high.height }}","thumbMaxresUrl":"={{ $json.snippet.thumbnails.maxres.url }}","thumbMaxresW":"={{ $json.snippet.thumbnails.maxres.width }}","thumbMaxresH":"={{ $json.snippet.thumbnails.maxres.height }}","channelTitle":"={{ $json.snippet.channelTitle }}","defaultLanguage":"={{ $json.snippet.defaultLanguage }}","localizedTitle":"={{ $json.snippet.localized.title }}","localizedDesc":"={{ $json.snippet.localized.description }}","privacyStatus":"={{ $json.status.privacyStatus }}","itemCount":"={{ $json.contentDetails.itemCount }}","embedHtml":"={{ $json.player.embedHtml }}","local_enGB_title":"={{ $json.localizations['en-GB'].title }}","local_enGB_desc":"={{ $json.localizations['en-GB'].description }}","id":"={{ $json.id }}"},"matchingColumns":["playlistId"],"schema":[{"id":"kind","displayName":"kind","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"etag","displayName":"etag","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"playlistId","displayName":"playlistId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"publishedAt","displayName":"publishedAt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"channelId","displayName":"channelId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"thumbDefaultUrl","displayName":"thumbDefaultUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"thumbDefaultW","displayName":"thumbDefaultW","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"thumbDefaultH","displayName":"thumbDefaultH","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"thumbMediumUrl","displayName":"thumbMediumUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"thumbMediumW","displayName":"thumbMediumW","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"thumbMediumH","displayName":"thumbMediumH","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"thumbHighUrl","displayName":"thumbHighUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"thumbHighW","displayName":"thumbHighW","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"thumbHighH","displayName":"thumbHighH","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"thumbStandardUrl","displayName":"thumbStandardUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"thumbStandardW","displayName":"thumbStandardW","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"thumbStandardH","displayName":"thumbStandardH","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"thumbMaxresUrl","displayName":"thumbMaxresUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"thumbMaxresW","displayName":"thumbMaxresW","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"thumbMaxresH","displayName":"thumbMaxresH","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"channelTitle","displayName":"channelTitle","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"defaultLanguage","displayName":"defaultLanguage","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"localizedTitle","displayName":"localizedTitle","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"localizedDesc","displayName":"localizedDesc","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"privacyStatus","displayName":"privacyStatus","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"itemCount","displayName":"itemCount","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"embedHtml","displayName":"embedHtml","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"local_enGB_title","displayName":"local_enGB_title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"local_enGB_desc","displayName":"local_enGB_desc","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"snippet","displayName":"snippet","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"contentDetails","displayName":"contentDetails","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"player","displayName":"player","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"localizations","displayName":"localizations","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-5344,-144],"id":"0efc9d8a-108c-4632-92cd-0998d44bec75","name":"Append or update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"cCaKxPu7R5DuJeos","name":"Google Sheets account"}}},{"parameters":{"resource":"playlist","returnAll":true,"filters":{},"options":{}},"type":"n8n-nodes-base.youTube","typeVersion":1,"position":[-5568,-48],"id":"f6309dd0-0309-4a36-a9cd-e6631449b427","name":"Get many playlists","credentials":{"youTubeOAuth2Api":{"id":"XuNzOxxdsUCdMbxD","name":"YouTube account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1NXiSy92js4QEgUjLm4je7o9GwL0OFBFQcMuE2Q01AQ0","mode":"list","cachedResultName":"Social Media Tracker","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1NXiSy92js4QEgUjLm4je7o9GwL0OFBFQcMuE2Q01AQ0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Youtube Channel","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1NXiSy92js4QEgUjLm4je7o9GwL0OFBFQcMuE2Q01AQ0/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $json.id }}","etag":"={{ $json.etag }}","title":"={{ $json.snippet.title }}","description":"={{ $json.snippet.description }}","custom_url":"={{ $json.snippet.customUrl }}","published_at":"={{ $json.snippet.publishedAt }}","thumbnail_url":"={{ $json.snippet.thumbnails.default.url }}","snippet_thumbnails_default_width":"={{ $json.snippet.thumbnails.default.width }}","snippet_thumbnails_default_height":"={{ $json.snippet.thumbnails.default.height }}","snippet_thumbnails_medium_url":"={{ $json.snippet.thumbnails.medium.url }}","snippet_thumbnails_medium_width":"={{ $json.snippet.thumbnails.medium.width }}","snippet_thumbnails_medium_height":"={{ $json.snippet.thumbnails.medium.height }}","snippet_thumbnails_high_url":"={{ $json.snippet.thumbnails.high.url }}","snippet_thumbnails_high_width":"={{ $json.snippet.thumbnails.high.width }}","snippet_thumbnails_high_height":"={{ $json.snippet.thumbnails.high.height }}","snippet_localized_title":"={{ $json.snippet.localized.title }}","snippet_localized_description":"={{ $json.snippet.localized.description }}","country":"={{ $json.snippet.country }}","contentdetails_relatedplaylists_likes":"={{ $json.contentDetails.relatedPlaylists.likes }}","contentdetails_relatedplaylists_uploads":"={{ $json.contentDetails.relatedPlaylists.uploads }}","view_count":"={{ $json.statistics.viewCount }}","subscriber_count":"={{ $json.statistics.subscriberCount }}","statistics_hiddensubscribercount":"={{ $json.statistics.hiddenSubscriberCount }}","video_count":"={{ $json.statistics.videoCount }}","topicdetails_topicids":"={{ $json.topicDetails.topicIds }}","topicdetails_topiccategories":"={{ $json.topicDetails.topicCategories }}","status_privacystatus":"={{ $json.status.privacyStatus }}","status_islinked":"={{ $json.status.isLinked }}","status_longuploadsstatus":"={{ $json.status.longUploadsStatus }}","status_madeforkids":"={{ $json.status.madeForKids }}","status_selfdeclaredmadeforkids":"={{ $json.status.selfDeclaredMadeForKids }}","status_ischannelmonetizationenabled":"={{ $json.status.isChannelMonetizationEnabled }}","brandingsettings_channel_title":"={{ $json.brandingSettings.channel.title }}","brandingsettings_channel_description":"={{ $json.brandingSettings.channel.description }}","brandingsettings_channel_keywords":"={{ $json.brandingSettings.channel.keywords }}","brandingsettings_channel_country":"={{ $json.brandingSettings.channel.country }}","brandingsettings_image_bannerexternalurl":"={{ $json.brandingSettings.image.bannerExternalUrl }}","contentownerdetails":"={{ $json.contentOwnerDetails }}","snippet":"={{ $json.snippet }}","contentDetails":"={{ $json.contentDetails }}","statistics":"={{ $json.statistics }}","topicDetails":"={{ $json.topicDetails }}","status":"={{ $json.statistics }}","brandingSettings":"={{ $json.brandingSettings }}","contentOwnerDetails":"={{ $json.contentDetails }}","Time Stamp":"={{ $now.setZone('Europe/London').toFormat(\"cccc, dd MMMM yyyy HH:mm:ss.SSS\") }}","kind":"={{ $json.kind }}"},"matchingColumns":["id"],"schema":[{"id":"Row Number","displayName":"Row Number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"kind","displayName":"kind","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"etag","displayName":"etag","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"custom_url","displayName":"custom_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"published_at","displayName":"published_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"thumbnail_url","displayName":"thumbnail_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"snippet_thumbnails_default_width","displayName":"snippet_thumbnails_default_width","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"snippet_thumbnails_default_height","displayName":"snippet_thumbnails_default_height","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"snippet_thumbnails_medium_url","displayName":"snippet_thumbnails_medium_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"snippet_thumbnails_medium_width","displayName":"snippet_thumbnails_medium_width","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"snippet_thumbnails_medium_height","displayName":"snippet_thumbnails_medium_height","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"snippet_thumbnails_high_url","displayName":"snippet_thumbnails_high_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"snippet_thumbnails_high_width","displayName":"snippet_thumbnails_high_width","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"snippet_thumbnails_high_height","displayName":"snippet_thumbnails_high_height","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"snippet_localized_title","displayName":"snippet_localized_title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"snippet_localized_description","displayName":"snippet_localized_description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"country","displayName":"country","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"contentdetails_relatedplaylists_likes","displayName":"contentdetails_relatedplaylists_likes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"contentdetails_relatedplaylists_uploads","displayName":"contentdetails_relatedplaylists_uploads","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"view_count","displayName":"view_count","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"subscriber_count","displayName":"subscriber_count","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"statistics_hiddensubscribercount","displayName":"statistics_hiddensubscribercount","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"video_count","displayName":"video_count","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"topicdetails_topicids","displayName":"topicdetails_topicids","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"topicdetails_topiccategories","displayName":"topicdetails_topiccategories","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"status_privacystatus","displayName":"status_privacystatus","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"status_islinked","displayName":"status_islinked","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"status_longuploadsstatus","displayName":"status_longuploadsstatus","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"status_madeforkids","displayName":"status_madeforkids","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"status_selfdeclaredmadeforkids","displayName":"status_selfdeclaredmadeforkids","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"status_ischannelmonetizationenabled","displayName":"status_ischannelmonetizationenabled","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"brandingsettings_channel_title","displayName":"brandingsettings_channel_title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"brandingsettings_channel_description","displayName":"brandingsettings_channel_description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"brandingsettings_channel_keywords","displayName":"brandingsettings_channel_keywords","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"brandingsettings_channel_country","displayName":"brandingsettings_channel_country","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"brandingsettings_image_bannerexternalurl","displayName":"brandingsettings_image_bannerexternalurl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"contentownerdetails","displayName":"contentownerdetails","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"snippet","displayName":"snippet","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"contentDetails","displayName":"contentDetails","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"statistics","displayName":"statistics","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"topicDetails","displayName":"topicDetails","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"brandingSettings","displayName":"brandingSettings","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"contentOwnerDetails","displayName":"contentOwnerDetails","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Time Stamp","displayName":"Time Stamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"View Count Change","displayName":"View Count Change","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Subscriber Count Change","displayName":"Subscriber Count Change","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Video Count Change","displayName":"Video Count Change","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-5344,-336],"id":"004227a8-3601-4d10-bbdc-42a458c824cf","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"cCaKxPu7R5DuJeos","name":"Google Sheets account"}}},{"parameters":{"returnAll":true,"filters":{},"options":{}},"type":"n8n-nodes-base.youTube","typeVersion":1,"position":[-5568,-336],"id":"a6057699-994f-420a-ad2a-4b34a7a6493e","name":"Get many channels","credentials":{"youTubeOAuth2Api":{"id":"XuNzOxxdsUCdMbxD","name":"YouTube account"}}},{"parameters":{"rule":{"interval":[{"field":"weeks"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-5792,48],"id":"ccbcc6b8-8e1b-41b4-8b17-bd3bb714cd9d","name":"Schedule Trigger"},{"parameters":{"documentId":{"__rl":true,"value":"1NXiSy92js4QEgUjLm4je7o9GwL0OFBFQcMuE2Q01AQ0","mode":"list","cachedResultName":"Social Media Tracker","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1NXiSy92js4QEgUjLm4je7o9GwL0OFBFQcMuE2Q01AQ0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":531851866,"mode":"list","cachedResultName":"Youtube Playlist Items","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1NXiSy92js4QEgUjLm4je7o9GwL0OFBFQcMuE2Q01AQ0/edit#gid=531851866"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-5568,1040],"id":"cf531928-0cd8-4e1e-8500-f3c263a44238","name":"Get row(s) in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"cCaKxPu7R5DuJeos","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1NXiSy92js4QEgUjLm4je7o9GwL0OFBFQcMuE2Q01AQ0","mode":"list","cachedResultName":"Social Media Tracker","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1NXiSy92js4QEgUjLm4je7o9GwL0OFBFQcMuE2Q01AQ0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":400869454,"mode":"list","cachedResultName":"Youtube Videos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1NXiSy92js4QEgUjLm4je7o9GwL0OFBFQcMuE2Q01AQ0/edit#gid=400869454"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-5568,848],"id":"0ecc3cf3-d906-4603-bb74-c314c89bca74","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"cCaKxPu7R5DuJeos","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"0a9e6181-95ef-4ed2-8d24-c86347284878","leftValue":"={{ $json.playlistId }}","rightValue":"PLhbwCMHwm2MaBEEEGLWLQ6JK8YEpqM51f","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-5344,1040],"id":"d0e43ddc-c381-4002-8b6c-ff0197075456","name":"If"},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-5792,944],"id":"1c4dfdae-583e-4e3f-9163-599e2ae60b9b","name":"Schedule Trigger1"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1NXiSy92js4QEgUjLm4je7o9GwL0OFBFQcMuE2Q01AQ0","mode":"list","cachedResultName":"Social Media Tracker","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1NXiSy92js4QEgUjLm4je7o9GwL0OFBFQcMuE2Q01AQ0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":163395064,"mode":"list","cachedResultName":"Youtube -> FB / INSTA","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1NXiSy92js4QEgUjLm4je7o9GwL0OFBFQcMuE2Q01AQ0/edit#gid=163395064"},"columns":{"mappingMode":"defineBelow","value":{"videoId":"={{ $json.videoId }}","title":"={{ $json.title }}","description":"={{ $json.description }}"},"matchingColumns":["videoId"],"schema":[{"id":"videoId","displayName":"videoId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Facebook Repost?","displayName":"Facebook Repost?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Instagram Repost?","displayName":"Instagram Repost?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Short","displayName":"Short","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-5120,848],"id":"2d2a3338-6538-4a91-940c-254ec2e8689d","name":"Append or update row in sheet5","credentials":{"googleSheetsOAuth2Api":{"id":"cCaKxPu7R5DuJeos","name":"Google Sheets account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1NXiSy92js4QEgUjLm4je7o9GwL0OFBFQcMuE2Q01AQ0","mode":"list","cachedResultName":"Social Media Tracker","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1NXiSy92js4QEgUjLm4je7o9GwL0OFBFQcMuE2Q01AQ0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":163395064,"mode":"list","cachedResultName":"Youtube -> FB / INSTA","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1NXiSy92js4QEgUjLm4je7o9GwL0OFBFQcMuE2Q01AQ0/edit#gid=163395064"},"columns":{"mappingMode":"defineBelow","value":{"videoId":"={{ $json.videoId }}","title":"={{ $json.title }}","description":"={{ $json.description }}","Short":"TRUE"},"matchingColumns":["videoId"],"schema":[{"id":"videoId","displayName":"videoId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Facebook Repost?","displayName":"Facebook Repost?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Instagram Repost?","displayName":"Instagram Repost?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Short","displayName":"Short","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-5120,1040],"id":"b252a393-cecc-4f93-9411-818006001b54","name":"Append or update row in sheet6","credentials":{"googleSheetsOAuth2Api":{"id":"cCaKxPu7R5DuJeos","name":"Google Sheets account"}}},{"parameters":{"jsCode":"return $input.all().filter(item => item.json && item.json.videoId && String(item.json.videoId).trim() !== '');"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-5344,848],"id":"7b2a617c-fb9b-44fa-b53d-5f21e6923e63","name":"Keep Only Valid Video IDs"},{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[-5792,1264],"id":"c6eb0a30-93d6-434d-bc46-5cd3a60de5cf","name":"Error Trigger"},{"parameters":{"chatId":"7858455569","text":"theres an error with the workflow","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-5568,1264],"id":"dc1761fa-ad59-40dd-a85a-93230cfa6bfc","name":"Send a text message","webhookId":"c5564944-8b22-44fd-8549-8f3b5bce9b37","credentials":{"telegramApi":{"id":"CTx5BR3UB6tvGX4Q","name":"QNAP Agent"}}},{"parameters":{"chatId":"7858455569","text":"=📊 TSN Channel Update\n\n📺 {{ $json.title }}\n🕒 {{ $now.setZone('Europe/London').toFormat(\"cccc, d MMMM yyyy • h:mm a\") }}\n\n👁️ Views: {{ Number($json.view_count || $json.statistics.viewCount || 0).toLocaleString('en-GB') }}\n👥 Subscribers: {{ Number($json.subscriber_count || $json.statistics.subscriberCount || 0).toLocaleString('en-GB') }}\n🎬 Videos: {{ Number($json.video_count || $json.statistics.videoCount || 0).toLocaleString('en-GB') }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-5120,-336],"id":"2222242b-5ed4-49af-aa93-a5e4a142e3f2","name":"Send a text message1","webhookId":"c5564944-8b22-44fd-8549-8f3b5bce9b37","credentials":{"telegramApi":{"id":"FQ2HVoN5OpApUcFz","name":"N8N Agent"}}},{"parameters":{"chatId":"7858455569","text":"=📂 TSN Playlist Update\n\n🎬 Total Playlists: {{ Number($json.count_id || 0).toLocaleString('en-GB') }}\n\n✅ All playlists synced\n🕒 {{ $now.setZone('Europe/London').toFormat(\"cccc, d MMMM yyyy • h:mm a\") }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-4896,-144],"id":"33ddbfd1-2f00-47c6-aa67-be0eb2d6e35e","name":"Send a text message2","webhookId":"c5564944-8b22-44fd-8549-8f3b5bce9b37","credentials":{"telegramApi":{"id":"FQ2HVoN5OpApUcFz","name":"N8N Agent"}}},{"parameters":{"fieldsToSummarize":{"values":[{"field":"id"}]},"options":{}},"type":"n8n-nodes-base.summarize","typeVersion":1.1,"position":[-5120,-144],"id":"d80ceacf-e6db-4aee-beb1-36dbac6f49cd","name":"Summarize"},{"parameters":{"fieldsToSummarize":{"values":[{"field":"id"}]},"options":{}},"type":"n8n-nodes-base.summarize","typeVersion":1.1,"position":[-4896,48],"id":"5ca2596e-5af7-4f1e-89c0-8bc3c87f7e6f","name":"Summarize1"},{"parameters":{"chatId":"7858455569","text":"=📂 TSN Playlist Update\n\n🎬 Total Videos in Playlists: {{ Number($json.count_id || 0).toLocaleString('en-GB') }}\n🕒 {{ $now.setZone('Europe/London').toFormat(\"cccc, d MMMM yyyy • h:mm a\") }}\n\n⚡ Sync complete","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-4672,48],"id":"396bc496-bad3-4f4d-ae5d-db3adca6b40e","name":"Send a text message3","webhookId":"c5564944-8b22-44fd-8549-8f3b5bce9b37","credentials":{"telegramApi":{"id":"FQ2HVoN5OpApUcFz","name":"N8N Agent"}}},{"parameters":{"fieldsToSummarize":{"values":[{"field":"id"}]},"options":{}},"type":"n8n-nodes-base.summarize","typeVersion":1.1,"position":[-5120,240],"id":"33ea7b6c-ea50-48e2-b0d9-a8d3b2fa2bb0","name":"Summarize2"},{"parameters":{"chatId":"7858455569","text":"=📂 TSN Content System\n\n🏷️ Video Categories: {{ Number($json.count_id || 0).toLocaleString('en-GB') }}\n🕒 {{ $now.setZone('Europe/London').toFormat(\"cccc, d MMMM yyyy • h:mm a\") }}\n\n⚡ Category sync complete","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-4896,240],"id":"185e8b3a-e5e3-4802-9faf-63a4d6a985d2","name":"Send a text message4","webhookId":"c5564944-8b22-44fd-8549-8f3b5bce9b37","credentials":{"telegramApi":{"id":"FQ2HVoN5OpApUcFz","name":"N8N Agent"}}},{"parameters":{"chatId":"7858455569","text":"=📺 TSN Video Update\n\n🎬 Total Videos Pulled: {{ Number($items(\"Get many videos\").length || 0).toLocaleString('en-GB') }}\n🕒 {{ $now.setZone('Europe/London').toFormat(\"cccc, d MMMM yyyy • h:mm a\") }}\n\n✅ Video sync complete","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-4896,432],"id":"a3655181-92b5-41ae-86c8-f43aec49d249","name":"Send a text message5","webhookId":"c5564944-8b22-44fd-8549-8f3b5bce9b37","credentials":{"telegramApi":{"id":"FQ2HVoN5OpApUcFz","name":"N8N Agent"}}},{"parameters":{"chatId":"7858455569","text":"=📺 TSN Video Processing Update\n\n🎬 Videos Processed: {{ Number($json.count_id || 0).toLocaleString('en-GB') }}\n\n✅ Detailed video data synced\n🕒 {{ $now.setZone('Europe/London').toFormat(\"cccc, d MMMM yyyy • h:mm a\") }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-4672,624],"id":"0c83cab3-2f8f-45f4-a895-b1762916b3e6","name":"Send a text message6","webhookId":"c5564944-8b22-44fd-8549-8f3b5bce9b37","credentials":{"telegramApi":{"id":"FQ2HVoN5OpApUcFz","name":"N8N Agent"}}},{"parameters":{"fieldsToSummarize":{"values":[{"field":"id","includeEmpty":true}]},"options":{}},"type":"n8n-nodes-base.summarize","typeVersion":1.1,"position":[-4896,624],"id":"d86bb575-97f8-4f3a-855e-f795f15b0f0b","name":"Summarize3"},{"parameters":{"fieldsToSummarize":{"values":[{"field":"={{ $json.id.videoId }}","includeEmpty":true}]},"options":{}},"type":"n8n-nodes-base.summarize","typeVersion":1.1,"position":[-5120,432],"id":"bd253c18-7ddd-4090-b008-b3d846003047","name":"Summarize4"},{"parameters":{"documentId":{"__rl":true,"value":"1NXiSy92js4QEgUjLm4je7o9GwL0OFBFQcMuE2Q01AQ0","mode":"list","cachedResultName":"Social Media Tracker","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1NXiSy92js4QEgUjLm4je7o9GwL0OFBFQcMuE2Q01AQ0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":163395064,"mode":"list","cachedResultName":"Youtube -> FB / INSTA","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1NXiSy92js4QEgUjLm4je7o9GwL0OFBFQcMuE2Q01AQ0/edit#gid=163395064"},"options":{}},"id":"078a9103-cca5-4833-93c9-e4557835ca6d","name":"Get Sheet Rows1","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[-5568,1584],"credentials":{"googleSheetsOAuth2Api":{"id":"cCaKxPu7R5DuJeos","name":"Google Sheets account"}},"notes":"Replace YOUR_GOOGLE_SHEET_ID with the ID from your sheet URL.\nSheet tab name defaults to Sheet1 — update if yours is different."},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-4672,1488],"id":"023f7d60-cdcc-406e-9345-96e4af1f46f3","name":"Limit"},{"parameters":{"method":"POST","url":"http://10.136.246.29:8081/add","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"url\": \"https://www.youtube.com/watch?v={{ $json.videoId }}\",\n  \"quality\": \"best\"\n}","options":{"allowUnauthorizedCerts":true}},"id":"4731ef76-6ba0-4a2e-8f3e-01ce39b24319","name":"Trigger QNAP Download","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-4448,1488]},{"parameters":{"url":"http://10.136.246.29:8082/download","sendQuery":true,"queryParameters":{"parameters":[{"name":"videoId","value":"={{ $('Limit').item.json.videoId }}"}]},"options":{"response":{"response":{"responseFormat":"file"}}}},"id":"e60ee9ce-ca47-4c4d-8061-e3da1c33df54","name":"QNAP Sync Download1","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-4224,1488]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"c3a0fb12-0e8e-4642-8a9b-f16f98cff190","leftValue":"={{ $json.videoId }}","rightValue":true,"operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"d5236e9b-f2b2-4f4b-a898-2c0982241d7b","leftValue":"={{ $json.Short }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[-5344,1584],"id":"81c7a7fe-7845-46a7-8553-638c85fab04b","name":"Filter"},{"parameters":{"type":"random"},"type":"n8n-nodes-base.sort","typeVersion":1,"position":[-4896,1488],"id":"d7ad5c2f-3d44-42f2-b798-9c4e2ee8f616","name":"Sort"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-4672,1680],"id":"62523924-c9b8-4cbe-9b20-c573fa0b641f","name":"Limit1"},{"parameters":{"method":"POST","url":"http://10.136.246.29:8081/add","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"url\": \"https://www.youtube.com/watch?v={{ $json.videoId }}\",\n  \"quality\": \"best\"\n}","options":{"allowUnauthorizedCerts":true}},"id":"43f338af-666e-4375-a856-bf7e06d955f0","name":"Trigger QNAP Download1","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-4448,1680]},{"parameters":{"url":"http://10.136.246.29:8082/download","sendQuery":true,"queryParameters":{"parameters":[{"name":"videoId","value":"={{ $('Limit1').item.json.videoId }}"}]},"options":{"response":{"response":{"responseFormat":"file"}}}},"id":"8d976785-1d3b-4eaa-be54-43cc6ad7dd58","name":"QNAP Sync Download","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-4224,1680]},{"parameters":{"type":"random"},"type":"n8n-nodes-base.sort","typeVersion":1,"position":[-4896,1680],"id":"0f1ce925-761a-4037-b49a-16638e3f57cc","name":"Sort1"},{"parameters":{"operation":"upload","bucketName":"n8nyoutubereposter","fileName":"={{ $('Sort1').item.json.videoId }}","additionalFields":{}},"id":"4dabe80d-604e-4ced-9328-9e29d2bde747","name":"Upload to Cloudflare R","type":"n8n-nodes-base.s3","typeVersion":1,"position":[-4000,1680],"credentials":{"s3":{"id":"B36VorbXLPMKXgI1","name":"S3 account"}}},{"parameters":{"hostUrl":"graph-video.facebook.com","httpRequestMethod":"POST","graphApiVersion":"v23.0","node":"101512471365023","edge":"videos","allowUnauthorizedCerts":true,"sendBinaryData":true,"binaryPropertyName":"data","options":{"queryParameters":{"parameter":[{"name":"description","value":"={{ $('Limit').item.json.title + '\\n\\n' + $('Limit').item.json.description }}\n\n#tsnuk #ukstudents"}]}}},"type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[-4000,1488],"id":"04ea8e84-c6ef-4d4d-ad85-28a779de73b7","name":"Facebook Graph API","credentials":{"facebookGraphApi":{"id":"XuZur3Wxlq777oXF","name":"TSN UK FB TOKEN"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"4e76f9ef-0e69-482d-a375-9b0d4e19bc61","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-3552,1680],"id":"e545be45-18a1-42c1-a514-8f5de0420d36","name":"If1"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1NXiSy92js4QEgUjLm4je7o9GwL0OFBFQcMuE2Q01AQ0","mode":"list","cachedResultName":"Social Media Tracker","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1NXiSy92js4QEgUjLm4je7o9GwL0OFBFQcMuE2Q01AQ0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":163395064,"mode":"list","cachedResultName":"Youtube -> FB / INSTA","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1NXiSy92js4QEgUjLm4je7o9GwL0OFBFQcMuE2Q01AQ0/edit#gid=163395064"},"columns":{"mappingMode":"defineBelow","value":{"Instagram Repost?":"TRUE","videoId":"={{ $('Limit1').item.json.videoId }}"},"matchingColumns":["videoId"],"schema":[{"id":"videoId","displayName":"videoId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Facebook Repost?","displayName":"Facebook Repost?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Instagram Repost?","displayName":"Instagram Repost?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Short","displayName":"Short","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-3328,1680],"id":"0ea3ac29-d43e-4247-b4d9-88e820087214","name":"Update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"cCaKxPu7R5DuJeos","name":"Google Sheets account"}}},{"parameters":{"resource":"reels","node":"=17841427619595824","videoUrl":"=https://pub-eb4794e7fd0842ad8dd4573163e8ccaf.r2.dev/{{ $('Limit1').item.json.videoId }}","caption":"={{ $('Limit1').item.json.title }}   {{ $('Limit1').item.json.description }}  #tsnuk #ukstudents #studentlife #universitylife #uk","additionalFields":{}},"type":"@mookielianhd/n8n-nodes-instagram.instagram","typeVersion":1,"position":[-3776,1680],"id":"8e13defe-3a8a-4ece-be6d-de343ef57754","name":"Publish","credentials":{"instagramApi":{"id":"QNkniIXNkHGr6Wod","name":"Instagram account"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":8},{"triggerAtHour":12},{"triggerAtHour":16},{"triggerAtHour":18}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-5792,1584],"id":"4bbe9826-5d06-4370-ad64-c278bc9798f8","name":"Schedule Trigger2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"4e76f9ef-0e69-482d-a375-9b0d4e19bc61","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-3776,1488],"id":"aec83cde-a9fc-4828-b0c4-c01e7dce8b79","name":"If4"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1NXiSy92js4QEgUjLm4je7o9GwL0OFBFQcMuE2Q01AQ0","mode":"list","cachedResultName":"Social Media Tracker","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1NXiSy92js4QEgUjLm4je7o9GwL0OFBFQcMuE2Q01AQ0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":163395064,"mode":"list","cachedResultName":"Youtube -> FB / INSTA","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1NXiSy92js4QEgUjLm4je7o9GwL0OFBFQcMuE2Q01AQ0/edit#gid=163395064"},"columns":{"mappingMode":"defineBelow","value":{"videoId":"={{ $('Limit').item.json.videoId }}","row_number":0,"Facebook Repost?":"TRUE"},"matchingColumns":["videoId"],"schema":[{"id":"videoId","displayName":"videoId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Facebook Repost?","displayName":"Facebook Repost?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Instagram Repost?","displayName":"Instagram Repost?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Short","displayName":"Short","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-3552,1488],"id":"ca7d4034-502d-4084-a5ad-62645c2b63b4","name":"Update row in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"cCaKxPu7R5DuJeos","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"ba0dc405-1922-4266-9cf2-eff069ad41cc","leftValue":"={{ $json['Facebook Repost?'] }}","rightValue":false,"operator":{"type":"boolean","operation":"equals"}},{"id":"fcd099b0-2f8e-4ac1-b136-0a286f1e9309","leftValue":"={{ $json.Short }}","rightValue":false,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-5120,1488],"id":"fe19fde6-dd4c-41f5-b6ed-5bbfef7e180a","name":"Facebook"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"ba0dc405-1922-4266-9cf2-eff069ad41cc","leftValue":"={{ $json['Instagram Repost?'] }}","rightValue":false,"operator":{"type":"boolean","operation":"equals"}},{"id":"fcd099b0-2f8e-4ac1-b136-0a286f1e9309","leftValue":"={{ $json.Short }}","rightValue":false,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-5120,1680],"id":"2f44b7a6-8210-4d1e-9b14-efa679d502c9","name":"Instagram"},{"parameters":{"chatId":"7858455569","text":"=Facebook repost successful: {{ $json[\"Facebook Repost?\"] ? \"Yes\" : \"No\" }}\n🕒 {{ $now ? $now.setZone('Europe/London').toFormat(\"cccc, d MMMM yyyy • h:mm a\") : \"\" }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-3328,1488],"id":"aeb4b18a-661f-4ea8-b7c2-4cc196e0d386","name":"Send a text message7","webhookId":"c5564944-8b22-44fd-8549-8f3b5bce9b37","credentials":{"telegramApi":{"id":"FQ2HVoN5OpApUcFz","name":"N8N Agent"}}},{"parameters":{"chatId":"7858455569","text":"=Instagram repost successful: {{ String($json[\"Instagram Repost?\"]).toLowerCase() === \"true\" ? \"Yes\" : \"No\" }}\n🕒 {{ $now.setZone('Europe/London').toFormat(\"cccc, d MMMM yyyy • h:mm a\") }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-3104,1680],"id":"4a015e74-bfaf-4d32-b32f-edcc87c27f35","name":"Send a text message8","webhookId":"c5564944-8b22-44fd-8549-8f3b5bce9b37","credentials":{"telegramApi":{"id":"FQ2HVoN5OpApUcFz","name":"N8N Agent"}}}],"connections":{"Get a video":{"main":[[{"node":"Append or update row in sheet4","type":"main","index":0}]]},"Get many videos":{"main":[[{"node":"Append or update row in sheet3","type":"main","index":0},{"node":"Get a video","type":"main","index":0}]]},"Get many video categories":{"main":[[{"node":"Append or update row in sheet2","type":"main","index":0}]]},"Get many playlist items":{"main":[[{"node":"Append or update row in sheet1","type":"main","index":0}]]},"Get many playlists":{"main":[[{"node":"Get many playlist items","type":"main","index":0},{"node":"Append or update row in sheet","type":"main","index":0}]]},"Get many channels":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Get many playlists","type":"main","index":0},{"node":"Get many video categories","type":"main","index":0},{"node":"Get many videos","type":"main","index":0},{"node":"Get many channels","type":"main","index":0}]]},"Append row in sheet":{"main":[[{"node":"Send a text message1","type":"main","index":0}]]},"Append or update row in sheet":{"main":[[{"node":"Summarize","type":"main","index":0}]]},"Append or update row in sheet1":{"main":[[{"node":"Summarize1","type":"main","index":0}]]},"Append or update row in sheet2":{"main":[[{"node":"Summarize2","type":"main","index":0}]]},"Append or update row in sheet3":{"main":[[{"node":"Summarize4","type":"main","index":0}]]},"Append or update row in sheet4":{"main":[[{"node":"Summarize3","type":"main","index":0}]]},"Get row(s) in sheet1":{"main":[[{"node":"If","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Keep Only Valid Video IDs","type":"main","index":0}]]},"If":{"main":[[{"node":"Append or update row in sheet6","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"Get row(s) in sheet1","type":"main","index":0},{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Append or update row in sheet5":{"main":[[]]},"Keep Only Valid Video IDs":{"main":[[{"node":"Append or update row in sheet5","type":"main","index":0}]]},"Error Trigger":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"Send a text message1":{"main":[[]]},"Summarize":{"main":[[{"node":"Send a text message2","type":"main","index":0}]]},"Summarize1":{"main":[[{"node":"Send a text message3","type":"main","index":0}]]},"Summarize2":{"main":[[{"node":"Send a text message4","type":"main","index":0}]]},"Summarize3":{"main":[[{"node":"Send a text message6","type":"main","index":0}]]},"Summarize4":{"main":[[{"node":"Send a text message5","type":"main","index":0}]]},"Get Sheet Rows1":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Trigger QNAP Download","type":"main","index":0}]]},"Trigger QNAP Download":{"main":[[{"node":"QNAP Sync Download1","type":"main","index":0}]]},"QNAP Sync Download1":{"main":[[{"node":"Facebook Graph API","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Facebook","type":"main","index":0},{"node":"Instagram","type":"main","index":0}]]},"Sort":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Limit1":{"main":[[{"node":"Trigger QNAP Download1","type":"main","index":0}]]},"Trigger QNAP Download1":{"main":[[{"node":"QNAP Sync Download","type":"main","index":0}]]},"QNAP Sync Download":{"main":[[{"node":"Upload to Cloudflare R","type":"main","index":0}]]},"Sort1":{"main":[[{"node":"Limit1","type":"main","index":0}]]},"Upload to Cloudflare R":{"main":[[{"node":"Publish","type":"main","index":0}]]},"Facebook Graph API":{"main":[[{"node":"If4","type":"main","index":0}]]},"If1":{"main":[[{"node":"Update row in sheet","type":"main","index":0}]]},"Update row in sheet":{"main":[[{"node":"Send a text message8","type":"main","index":0}]]},"Publish":{"main":[[{"node":"If1","type":"main","index":0}]]},"Schedule Trigger2":{"main":[[{"node":"Get Sheet Rows1","type":"main","index":0}]]},"If4":{"main":[[{"node":"Update row in sheet1","type":"main","index":0}]]},"Update row in sheet1":{"main":[[{"node":"Send a text message7","type":"main","index":0}]]},"Facebook":{"main":[[{"node":"Sort","type":"main","index":0}]]},"Instagram":{"main":[[{"node":"Sort1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner","availableInMCP":true},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Schedule Trigger1":{"recurrenceRules":[]},"node:Schedule Trigger2":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"6688ac8d-8572-48bc-bd32-c99e808d021b","activeVersionId":"b99535ba-26b9-4107-bd4f-bab07cdf1f68","versionCounter":1684,"triggerCount":3,"shared":[{"updatedAt":"2026-04-02T00:33:24.040Z","createdAt":"2026-04-02T00:33:24.040Z","role":"workflow:owner","workflowId":"n7tXaZTayc5UpQDt","projectId":"pqaFG6hCA1wNRuQU","project":{"updatedAt":"2026-04-01T17:48:41.879Z","createdAt":"2026-04-01T17:47:33.571Z","id":"pqaFG6hCA1wNRuQU","name":"Calvin Mckenzie <pluggedinuniversity@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"ebfb0dec-3e41-46cd-bc25-d86a4d131899"}}],"tags":[],"activeVersion":{"updatedAt":"2026-04-20T23:33:35.663Z","createdAt":"2026-04-20T23:33:32.940Z","versionId":"b99535ba-26b9-4107-bd4f-bab07cdf1f68","workflowId":"n7tXaZTayc5UpQDt","nodes":[{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1NXiSy92js4QEgUjLm4je7o9GwL0OFBFQcMuE2Q01AQ0","mode":"list","cachedResultName":"Social Media Tracker","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1NXiSy92js4QEgUjLm4je7o9GwL0OFBFQcMuE2Q01AQ0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":400869454,"mode":"list","cachedResultName":"Youtube Videos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1NXiSy92js4QEgUjLm4je7o9GwL0OFBFQcMuE2Q01AQ0/edit#gid=400869454"},"columns":{"mappingMode":"autoMapInputData","value":{"video_kind":"={{ $json.kind }}","video_etag":"={{ $json.etag }}","video_id":"={{ $json.id }}","video_publishedAt":"={{ $json.snippet.publishedAt }}","video_videoId":"={{ $json.id }}","videoId":"={{ $json.id }}","video_channelId":"={{ $json.snippet.channelId }}","video_title":"={{ $json.snippet.title }}","video_description":"={{ $json.snippet.description }}","video_channelTitle":"={{ $json.snippet.channelTitle }}","video_defaultLanguage":"={{ $json.snippet.defaultLanguage }}","video_defaultAudioLanguage":"={{ $json.snippet.defaultAudioLanguage }}","video_thumb_default_url":"={{ $json.snippet.thumbnails.default.url }}","video_thumb_default_width":"={{ $json.snippet.thumbnails.default.width }}","video_thumb_default_height":"={{ $json.snippet.thumbnails.default.height }}","video_thumb_medium_url":"={{ $json.snippet.thumbnails.medium.url }}","video_thumb_medium_width":"={{ $json.snippet.thumbnails.medium.width }}","video_thumb_medium_height":"={{ $json.snippet.thumbnails.medium.height }}","video_thumb_high_url":"={{ $json.snippet.thumbnails.high.url }}","video_thumb_high_width":"={{ $json.snippet.thumbnails.high.width }}","video_thumb_high_height":"={{ $json.snippet.thumbnails.high.height }}","video_thumb_standard_url":"={{ $json.snippet.thumbnails.standard.url }}","video_thumb_standard_width":"={{ $json.snippet.thumbnails.standard.width }}","video_thumb_standard_height":"={{ $json.snippet.thumbnails.standard.height }}","video_thumb_maxres_url":"={{ $json.snippet.thumbnails.maxres.url }}","video_thumb_maxres_width":"={{ $json.snippet.thumbnails.maxres.width }}","video_thumb_maxres_height":"={{ $json.snippet.thumbnails.maxres.height }}","video_duration":"={{ $json.contentDetails.duration }}","video_dimension":"={{ $json.contentDetails.dimension }}","video_definition":"={{ $json.contentDetails.definition }}","video_caption":"={{ $json.contentDetails.caption }}","video_licensedContent":"={{ $json.contentDetails.licensedContent }}","video_contentRating":"={{ $json.contentDetails.contentRating }}","video_projection":"={{ $json.contentDetails.projection }}","video_hasCustomThumbnail":"={{ $json.contentDetails.hasCustomThumbnail }}","video_uploadStatus":"={{ $json.status.uploadStatus }}","video_privacyStatus":"={{ $json.status.privacyStatus }}","video_license":"={{ $json.status.license }}","video_embeddable":"={{ $json.status.embeddable }}","video_publicStatsViewable":"={{ $json.status.publicStatsViewable }}","video_madeForKids":"={{ $json.status.madeForKids }}","video_selfDeclaredMadeForKids":"={{ $json.status.selfDeclaredMadeForKids }}","video_publishAt":"={{ $('Get many videos').item.json.snippet.publishedAt }}","video_viewCount":"={{ $json.statistics.viewCount }}","video_likeCount":"={{ $json.statistics.likeCount }}","video_dislikeCount":"={{ $json.statistics.dislikeCount }}","video_favoriteCount":"={{ $json.statistics.favoriteCount }}","video_commentCount":"={{ $json.statistics.commentCount }}","video_tags":"={{ $json.snippet.tags }}","video_embedHtml":"={{ $json.player.embedHtml }}","video_locationDescription":"={{ $json.snippet.localized.description }}"},"matchingColumns":["videoId"],"schema":[{"id":"D2","displayName":"D2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"etag","displayName":"etag","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"id_kind","displayName":"id_kind","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"videoId","displayName":"videoId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"publishedAt","displayName":"publishedAt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"channelId","displayName":"channelId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"thumb_default_url","displayName":"thumb_default_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"thumb_default_width","displayName":"thumb_default_width","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"thumb_default_height","displayName":"thumb_default_height","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"thumb_medium_url","displayName":"thumb_medium_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"thumb_medium_width","displayName":"thumb_medium_width","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"thumb_medium_height","displayName":"thumb_medium_height","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"thumb_high_url","displayName":"thumb_high_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"thumb_high_width","displayName":"thumb_high_width","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"thumb_high_height","displayName":"thumb_high_height","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"thumb_standard_url","displayName":"thumb_standard_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"thumb_standard_width","displayName":"thumb_standard_width","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"thumb_standard_height","displayName":"thumb_standard_height","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"thumb_maxres_url","displayName":"thumb_maxres_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"thumb_maxres_width","displayName":"thumb_maxres_width","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"thumb_maxres_height","displayName":"thumb_maxres_height","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"channelTitle","displayName":"channelTitle","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"liveBroadcastContent","displayName":"liveBroadcastContent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"publishTime","displayName":"publishTime","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_kind","displayName":"video_kind","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_etag","displayName":"video_etag","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_id","displayName":"video_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_videoId","displayName":"video_videoId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_publishedAt","displayName":"video_publishedAt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_channelId","displayName":"video_channelId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_title","displayName":"video_title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_description","displayName":"video_description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_channelTitle","displayName":"video_channelTitle","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_defaultLanguage","displayName":"video_defaultLanguage","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_defaultAudioLanguage","displayName":"video_defaultAudioLanguage","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_thumb_default_url","displayName":"video_thumb_default_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_thumb_default_width","displayName":"video_thumb_default_width","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_thumb_default_height","displayName":"video_thumb_default_height","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_thumb_medium_url","displayName":"video_thumb_medium_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_thumb_medium_width","displayName":"video_thumb_medium_width","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_thumb_medium_height","displayName":"video_thumb_medium_height","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_thumb_high_url","displayName":"video_thumb_high_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_thumb_high_width","displayName":"video_thumb_high_width","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_thumb_high_height","displayName":"video_thumb_high_height","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_thumb_standard_url","displayName":"video_thumb_standard_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_thumb_standard_width","displayName":"video_thumb_standard_width","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_thumb_standard_height","displayName":"video_thumb_standard_height","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_thumb_maxres_url","displayName":"video_thumb_maxres_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_thumb_maxres_width","displayName":"video_thumb_maxres_width","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_thumb_maxres_height","displayName":"video_thumb_maxres_height","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_duration","displayName":"video_duration","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_dimension","displayName":"video_dimension","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_definition","displayName":"video_definition","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_caption","displayName":"video_caption","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_licensedContent","displayName":"video_licensedContent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_contentRating","displayName":"video_contentRating","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_projection","displayName":"video_projection","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_hasCustomThumbnail","displayName":"video_hasCustomThumbnail","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_uploadStatus","displayName":"video_uploadStatus","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_privacyStatus","displayName":"video_privacyStatus","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_license","displayName":"video_license","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_embeddable","displayName":"video_embeddable","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_publicStatsViewable","displayName":"video_publicStatsViewable","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_madeForKids","displayName":"video_madeForKids","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_selfDeclaredMadeForKids","displayName":"video_selfDeclaredMadeForKids","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_publishAt","displayName":"video_publishAt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_viewCount","displayName":"video_viewCount","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_likeCount","displayName":"video_likeCount","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_dislikeCount","displayName":"video_dislikeCount","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_favoriteCount","displayName":"video_favoriteCount","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_commentCount","displayName":"video_commentCount","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_tags","displayName":"video_tags","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_embedHtml","displayName":"video_embedHtml","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_locationDescription","displayName":"video_locationDescription","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_latitude","displayName":"video_latitude","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_longitude","displayName":"video_longitude","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_altitude","displayName":"video_altitude","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_en_title","displayName":"video_en_title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_en_description","displayName":"video_en_description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_en_GB_title","displayName":"video_en_GB_title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_en_GB_description","displayName":"video_en_GB_description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_topicCategories","displayName":"video_topicCategories","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_actualStartTime","displayName":"video_actualStartTime","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_actualEndTime","displayName":"video_actualEndTime","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_scheduledStartTime","displayName":"video_scheduledStartTime","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"snippet","displayName":"snippet","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"contentDetails","displayName":"contentDetails","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"statistics","displayName":"statistics","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"player","displayName":"player","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"topicDetails","displayName":"topicDetails","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"recordingDetails","displayName":"recordingDetails","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"localizations","displayName":"localizations","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"TSN_Stats_Views","displayName":"TSN_Stats_Views","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"TSN_Stats_Likes","displayName":"TSN_Stats_Likes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"TSN_Transcript","displayName":"TSN_Transcript","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"TSN_LastSync","displayName":"TSN_LastSync","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"TSN_Description","displayName":"TSN_Description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nexus_Verdict","displayName":"Nexus_Verdict","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nexus_Category","displayName":"Nexus_Category","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nexus_Strategy","displayName":"Nexus_Strategy","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nexus_Viral_Hooks","displayName":"Nexus_Viral_Hooks","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nexus_Summary","displayName":"Nexus_Summary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"IG Reposted","displayName":"IG Reposted","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"FB Reposted","displayName":"FB Reposted","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"TT Reposted","displayName":"TT Reposted","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"kind","displayName":"kind","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-4128,624],"id":"8fe48c53-c55a-4837-9c52-a7df39028b8f","name":"Append or update row in sheet4","credentials":{"googleSheetsOAuth2Api":{"id":"cCaKxPu7R5DuJeos","name":"Google Sheets account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1NXiSy92js4QEgUjLm4je7o9GwL0OFBFQcMuE2Q01AQ0","mode":"list","cachedResultName":"Social Media Tracker","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1NXiSy92js4QEgUjLm4je7o9GwL0OFBFQcMuE2Q01AQ0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":400869454,"mode":"list","cachedResultName":"Youtube Videos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1NXiSy92js4QEgUjLm4je7o9GwL0OFBFQcMuE2Q01AQ0/edit#gid=400869454"},"columns":{"mappingMode":"autoMapInputData","value":{"etag":"={{ $json.etag }}","id_kind":"={{ $json.id.kind }}","publishedAt":"={{ $json.snippet.publishedAt }}","videoId":"={{ $json.id.videoId }}","channelId":"={{ $json.snippet.channelId }}","title":"={{ $json.snippet.title }}","description":"={{ $json.snippet.description }}","thumb_default_url":"={{ $json.snippet.thumbnails.default.url }}","thumb_default_width":"={{ $json.snippet.thumbnails.default.width }}","thumb_default_height":"={{ $json.snippet.thumbnails.default.height }}","thumb_medium_url":"={{ $json.snippet.thumbnails.medium.url }}","thumb_medium_width":"={{ $json.snippet.thumbnails.medium.width }}","thumb_medium_height":"={{ $json.snippet.thumbnails.medium.height }}","thumb_high_url":"={{ $json.snippet.thumbnails.high.url }}","thumb_high_width":"={{ $json.snippet.thumbnails.high.width }}","thumb_high_height":"={{ $json.snippet.thumbnails.high.height }}","thumb_standard_url":"={{ $json.snippet.thumbnails.standard.url }}","thumb_standard_width":"={{ $json.snippet.thumbnails.standard.width }}","thumb_standard_height":"={{ $json.snippet.thumbnails.standard.height }}","thumb_maxres_url":"={{ $json.snippet.thumbnails.maxres.url }}","thumb_maxres_width":"={{ $json.snippet.thumbnails.maxres.width }}","thumb_maxres_height":"={{ $json.snippet.thumbnails.maxres.height }}","channelTitle":"={{ $json.snippet.channelTitle }}","liveBroadcastContent":"={{ $json.snippet.liveBroadcastContent }}","publishTime":"={{ $json.snippet.publishTime }}"},"matchingColumns":["videoId"],"schema":[{"id":"D2","displayName":"D2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"etag","displayName":"etag","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"id_kind","displayName":"id_kind","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"videoId","displayName":"videoId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"publishedAt","displayName":"publishedAt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"channelId","displayName":"channelId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"thumb_default_url","displayName":"thumb_default_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"thumb_default_width","displayName":"thumb_default_width","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"thumb_default_height","displayName":"thumb_default_height","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"thumb_medium_url","displayName":"thumb_medium_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"thumb_medium_width","displayName":"thumb_medium_width","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"thumb_medium_height","displayName":"thumb_medium_height","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"thumb_high_url","displayName":"thumb_high_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"thumb_high_width","displayName":"thumb_high_width","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"thumb_high_height","displayName":"thumb_high_height","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"thumb_standard_url","displayName":"thumb_standard_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"thumb_standard_width","displayName":"thumb_standard_width","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"thumb_standard_height","displayName":"thumb_standard_height","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"thumb_maxres_url","displayName":"thumb_maxres_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"thumb_maxres_width","displayName":"thumb_maxres_width","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"thumb_maxres_height","displayName":"thumb_maxres_height","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"channelTitle","displayName":"channelTitle","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"liveBroadcastContent","displayName":"liveBroadcastContent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"publishTime","displayName":"publishTime","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_kind","displayName":"video_kind","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_etag","displayName":"video_etag","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_id","displayName":"video_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_videoId","displayName":"video_videoId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_publishedAt","displayName":"video_publishedAt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_channelId","displayName":"video_channelId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_title","displayName":"video_title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_description","displayName":"video_description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_channelTitle","displayName":"video_channelTitle","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_defaultLanguage","displayName":"video_defaultLanguage","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_defaultAudioLanguage","displayName":"video_defaultAudioLanguage","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_thumb_default_url","displayName":"video_thumb_default_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_thumb_default_width","displayName":"video_thumb_default_width","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_thumb_default_height","displayName":"video_thumb_default_height","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_thumb_medium_url","displayName":"video_thumb_medium_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_thumb_medium_width","displayName":"video_thumb_medium_width","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_thumb_medium_height","displayName":"video_thumb_medium_height","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_thumb_high_url","displayName":"video_thumb_high_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_thumb_high_width","displayName":"video_thumb_high_width","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_thumb_high_height","displayName":"video_thumb_high_height","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_thumb_standard_url","displayName":"video_thumb_standard_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_thumb_standard_width","displayName":"video_thumb_standard_width","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_thumb_standard_height","displayName":"video_thumb_standard_height","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_thumb_maxres_url","displayName":"video_thumb_maxres_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_thumb_maxres_width","displayName":"video_thumb_maxres_width","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_thumb_maxres_height","displayName":"video_thumb_maxres_height","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_duration","displayName":"video_duration","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_dimension","displayName":"video_dimension","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_definition","displayName":"video_definition","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_caption","displayName":"video_caption","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_licensedContent","displayName":"video_licensedContent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_contentRating","displayName":"video_contentRating","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_projection","displayName":"video_projection","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_hasCustomThumbnail","displayName":"video_hasCustomThumbnail","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_uploadStatus","displayName":"video_uploadStatus","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_privacyStatus","displayName":"video_privacyStatus","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_license","displayName":"video_license","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_embeddable","displayName":"video_embeddable","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_publicStatsViewable","displayName":"video_publicStatsViewable","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_madeForKids","displayName":"video_madeForKids","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_selfDeclaredMadeForKids","displayName":"video_selfDeclaredMadeForKids","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_publishAt","displayName":"video_publishAt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_viewCount","displayName":"video_viewCount","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_likeCount","displayName":"video_likeCount","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_dislikeCount","displayName":"video_dislikeCount","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_favoriteCount","displayName":"video_favoriteCount","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_commentCount","displayName":"video_commentCount","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_tags","displayName":"video_tags","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_embedHtml","displayName":"video_embedHtml","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_locationDescription","displayName":"video_locationDescription","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_latitude","displayName":"video_latitude","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_longitude","displayName":"video_longitude","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_altitude","displayName":"video_altitude","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_en_title","displayName":"video_en_title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_en_description","displayName":"video_en_description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_en_GB_title","displayName":"video_en_GB_title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_en_GB_description","displayName":"video_en_GB_description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_topicCategories","displayName":"video_topicCategories","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_actualStartTime","displayName":"video_actualStartTime","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_actualEndTime","displayName":"video_actualEndTime","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_scheduledStartTime","displayName":"video_scheduledStartTime","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"snippet","displayName":"snippet","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"contentDetails","displayName":"contentDetails","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"statistics","displayName":"statistics","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"player","displayName":"player","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"topicDetails","displayName":"topicDetails","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"recordingDetails","displayName":"recordingDetails","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"localizations","displayName":"localizations","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"TSN_Stats_Views","displayName":"TSN_Stats_Views","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"TSN_Stats_Likes","displayName":"TSN_Stats_Likes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"TSN_Transcript","displayName":"TSN_Transcript","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"TSN_LastSync","displayName":"TSN_LastSync","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"TSN_Description","displayName":"TSN_Description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nexus_Verdict","displayName":"Nexus_Verdict","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nexus_Category","displayName":"Nexus_Category","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nexus_Strategy","displayName":"Nexus_Strategy","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nexus_Viral_Hooks","displayName":"Nexus_Viral_Hooks","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nexus_Summary","displayName":"Nexus_Summary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"IG Reposted","displayName":"IG Reposted","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"FB Reposted","displayName":"FB Reposted","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"TT Reposted","displayName":"TT Reposted","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-4352,432],"id":"af28ee51-d385-4c02-bb11-7cc480d96d13","name":"Append or update row in sheet3","credentials":{"googleSheetsOAuth2Api":{"id":"cCaKxPu7R5DuJeos","name":"Google Sheets account"}}},{"parameters":{"resource":"video","operation":"get","videoId":"={{ $json.id.videoId }}","part":["*","contentDetails","id","player","liveStreamingDetails","localizations","recordingDetails","snippet","statistics","status","topicDetails"],"options":{}},"type":"n8n-nodes-base.youTube","typeVersion":1,"position":[-4352,624],"id":"147cabd7-789d-456c-91c7-9aeca8af0343","name":"Get a video","credentials":{"youTubeOAuth2Api":{"id":"XuNzOxxdsUCdMbxD","name":"YouTube account"}}},{"parameters":{"resource":"video","returnAll":true,"filters":{},"options":{}},"type":"n8n-nodes-base.youTube","typeVersion":1,"position":[-4576,528],"id":"04d67763-1235-4283-8d66-3386559b1e3c","name":"Get many videos","credentials":{"youTubeOAuth2Api":{"id":"XuNzOxxdsUCdMbxD","name":"YouTube account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1NXiSy92js4QEgUjLm4je7o9GwL0OFBFQcMuE2Q01AQ0","mode":"list","cachedResultName":"Social Media Tracker","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1NXiSy92js4QEgUjLm4je7o9GwL0OFBFQcMuE2Q01AQ0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1811703085,"mode":"list","cachedResultName":"Youtube Video categories","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1NXiSy92js4QEgUjLm4je7o9GwL0OFBFQcMuE2Q01AQ0/edit#gid=1811703085"},"columns":{"mappingMode":"autoMapInputData","value":{"id":"={{ $json.id }}","kind":"={{ $json.kind }}","etag":"={{ $json.etag }}","snippet_title":"={{ $json.snippet.title }}","snippet_assignable":"={{ $json.snippet.assignable }}","snippet_channelId":"={{ $json.snippet.channelId }}"},"matchingColumns":["id"],"schema":[{"id":"kind","displayName":"kind","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"etag","displayName":"etag","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"snippet_title","displayName":"snippet_title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"snippet_assignable","displayName":"snippet_assignable","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"snippet_channelId","displayName":"snippet_channelId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"snippet","displayName":"snippet","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-4352,240],"id":"24c4e04d-5fe3-4bcc-bd26-8ca8e6867d78","name":"Append or update row in sheet2","credentials":{"googleSheetsOAuth2Api":{"id":"cCaKxPu7R5DuJeos","name":"Google Sheets account"}}},{"parameters":{"resource":"videoCategory","regionCode":"GB","returnAll":true},"type":"n8n-nodes-base.youTube","typeVersion":1,"position":[-4576,240],"id":"0c2824c9-d71e-49cc-905e-d819886a04d2","name":"Get many video categories","credentials":{"youTubeOAuth2Api":{"id":"XuNzOxxdsUCdMbxD","name":"YouTube account"}}},{"parameters":{"resource":"playlistItem","operation":"getAll","playlistId":"={{ $json.id }}","part":["*","contentDetails","id","snippet","status"],"returnAll":true,"options":{}},"type":"n8n-nodes-base.youTube","typeVersion":1,"position":[-4352,48],"id":"ce5a11ae-cc95-4641-bd10-21067de53ffe","name":"Get many playlist items","credentials":{"youTubeOAuth2Api":{"id":"XuNzOxxdsUCdMbxD","name":"YouTube account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1NXiSy92js4QEgUjLm4je7o9GwL0OFBFQcMuE2Q01AQ0","mode":"list","cachedResultName":"Social Media Tracker","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1NXiSy92js4QEgUjLm4je7o9GwL0OFBFQcMuE2Q01AQ0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":531851866,"mode":"list","cachedResultName":"Youtube Playlist Items","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1NXiSy92js4QEgUjLm4je7o9GwL0OFBFQcMuE2Q01AQ0/edit#gid=531851866"},"columns":{"mappingMode":"autoMapInputData","value":{"kind":"={{ $json.kind }}","etag":"={{ $json.etag }}","playlistId":"={{ $json.id }}","publishedAt":"={{ $json.snippet.publishedAt }}","channelId":"={{ $json.snippet.channelId }}","title":"={{ $json.snippet.title }}","description":"={{ $json.snippet.description }}","channelTitle":"={{ $json.snippet.channelTitle }}","privacyStatus":"={{ $json.status.privacyStatus }}","id":"={{ $json.id }}","thumb_default_url":"={{ $json.snippet.thumbnails.default.url }}","thumb_default_width":"={{ $json.snippet.thumbnails.default.width }}","thumb_default_height":"={{ $json.snippet.thumbnails.default.height }}","thumb_medium_url":"={{ $json.snippet.thumbnails.medium.url }}","thumb_medium_width":"={{ $json.snippet.thumbnails.medium.width }}","thumb_medium_height":"={{ $json.snippet.thumbnails.medium.height }}","thumb_high_url":"={{ $json.snippet.thumbnails.high.url }}","thumb_high_width":"={{ $json.snippet.thumbnails.high.width }}","thumb_high_height":"={{ $json.snippet.thumbnails.high.height }}","thumb_standard_url":"={{ $json.snippet.thumbnails.standard.url }}","thumb_standard_width":"={{ $json.snippet.thumbnails.standard.width }}","thumb_standard_height":"={{ $json.snippet.thumbnails.standard.height }}","thumb_maxres_url":"={{ $json.snippet.thumbnails.maxres.url }}","thumb_maxres_width":"={{ $json.snippet.thumbnails.maxres.width }}","thumb_maxres_height":"={{ $json.snippet.thumbnails.maxres.height }}","position":"={{ $json.snippet.position }}","resourceId_kind":"={{ $json.snippet.resourceId.kind }}","videoId":"={{ $json.snippet.resourceId.videoId }}","videoOwnerChannelTitle":"={{ $json.snippet.videoOwnerChannelTitle }}","videoOwnerChannelId":"={{ $json.snippet.videoOwnerChannelId }}","contentDetails_videoId":"={{ $json.contentDetails.videoId }}","videoPublishedAt":"={{ $json.contentDetails.videoPublishedAt }}"},"matchingColumns":["id"],"schema":[{"id":"kind","displayName":"kind","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"etag","displayName":"etag","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"publishedAt","displayName":"publishedAt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"channelId","displayName":"channelId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"thumb_default_url","displayName":"thumb_default_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"thumb_default_width","displayName":"thumb_default_width","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"thumb_default_height","displayName":"thumb_default_height","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"thumb_medium_url","displayName":"thumb_medium_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"thumb_medium_width","displayName":"thumb_medium_width","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"thumb_medium_height","displayName":"thumb_medium_height","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"thumb_high_url","displayName":"thumb_high_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"thumb_high_width","displayName":"thumb_high_width","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"thumb_high_height","displayName":"thumb_high_height","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"thumb_standard_url","displayName":"thumb_standard_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"thumb_standard_width","displayName":"thumb_standard_width","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"thumb_standard_height","displayName":"thumb_standard_height","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"thumb_maxres_url","displayName":"thumb_maxres_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"thumb_maxres_width","displayName":"thumb_maxres_width","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"thumb_maxres_height","displayName":"thumb_maxres_height","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"channelTitle","displayName":"channelTitle","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"playlistId","displayName":"playlistId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"position","displayName":"position","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"resourceId_kind","displayName":"resourceId_kind","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"videoId","displayName":"videoId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"videoOwnerChannelTitle","displayName":"videoOwnerChannelTitle","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"videoOwnerChannelId","displayName":"videoOwnerChannelId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"contentDetails_videoId","displayName":"contentDetails_videoId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"videoPublishedAt","displayName":"videoPublishedAt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"privacyStatus","displayName":"privacyStatus","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"snippet","displayName":"snippet","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"contentDetails","displayName":"contentDetails","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-4128,48],"id":"1440c7c9-2d3b-46b7-bc1c-461068708fe6","name":"Append or update row in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"cCaKxPu7R5DuJeos","name":"Google Sheets account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1NXiSy92js4QEgUjLm4je7o9GwL0OFBFQcMuE2Q01AQ0","mode":"list","cachedResultName":"Social Media Tracker","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1NXiSy92js4QEgUjLm4je7o9GwL0OFBFQcMuE2Q01AQ0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1533629162,"mode":"list","cachedResultName":"Youtube Playlists","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1NXiSy92js4QEgUjLm4je7o9GwL0OFBFQcMuE2Q01AQ0/edit#gid=1533629162"},"columns":{"mappingMode":"autoMapInputData","value":{"kind":"={{ $json.kind }}","etag":"={{ $json.etag }}","playlistId":"={{ $json.id }}","publishedAt":"={{ $json.snippet.publishedAt }}","channelId":"={{ $json.snippet.channelId }}","title":"={{ $json.snippet.title }}","description":"={{ $json.snippet.description }}","thumbDefaultUrl":"={{ $json.snippet.thumbnails.default.url }}","thumbDefaultW":"={{ $json.snippet.thumbnails.default.width }}","thumbDefaultH":"={{ $json.snippet.thumbnails.default.height }}","thumbMediumUrl":"={{ $json.snippet.thumbnails.medium.url }}","thumbMediumW":"={{ $json.snippet.thumbnails.medium.width }}","thumbMediumH":"={{ $json.snippet.thumbnails.medium.height }}","thumbHighUrl":"={{ $json.snippet.thumbnails.high.url }}","thumbHighW":"={{ $json.snippet.thumbnails.high.width }}","thumbHighH":"={{ $json.snippet.thumbnails.high.height }}","thumbStandardUrl":"={{ $json.snippet.thumbnails.high.url }}","thumbStandardW":"={{ $json.snippet.thumbnails.high.width }}","thumbStandardH":"={{ $json.snippet.thumbnails.high.height }}","thumbMaxresUrl":"={{ $json.snippet.thumbnails.maxres.url }}","thumbMaxresW":"={{ $json.snippet.thumbnails.maxres.width }}","thumbMaxresH":"={{ $json.snippet.thumbnails.maxres.height }}","channelTitle":"={{ $json.snippet.channelTitle }}","defaultLanguage":"={{ $json.snippet.defaultLanguage }}","localizedTitle":"={{ $json.snippet.localized.title }}","localizedDesc":"={{ $json.snippet.localized.description }}","privacyStatus":"={{ $json.status.privacyStatus }}","itemCount":"={{ $json.contentDetails.itemCount }}","embedHtml":"={{ $json.player.embedHtml }}","local_enGB_title":"={{ $json.localizations['en-GB'].title }}","local_enGB_desc":"={{ $json.localizations['en-GB'].description }}","id":"={{ $json.id }}"},"matchingColumns":["playlistId"],"schema":[{"id":"kind","displayName":"kind","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"etag","displayName":"etag","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"playlistId","displayName":"playlistId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"publishedAt","displayName":"publishedAt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"channelId","displayName":"channelId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"thumbDefaultUrl","displayName":"thumbDefaultUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"thumbDefaultW","displayName":"thumbDefaultW","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"thumbDefaultH","displayName":"thumbDefaultH","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"thumbMediumUrl","displayName":"thumbMediumUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"thumbMediumW","displayName":"thumbMediumW","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"thumbMediumH","displayName":"thumbMediumH","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"thumbHighUrl","displayName":"thumbHighUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"thumbHighW","displayName":"thumbHighW","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"thumbHighH","displayName":"thumbHighH","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"thumbStandardUrl","displayName":"thumbStandardUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"thumbStandardW","displayName":"thumbStandardW","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"thumbStandardH","displayName":"thumbStandardH","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"thumbMaxresUrl","displayName":"thumbMaxresUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"thumbMaxresW","displayName":"thumbMaxresW","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"thumbMaxresH","displayName":"thumbMaxresH","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"channelTitle","displayName":"channelTitle","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"defaultLanguage","displayName":"defaultLanguage","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"localizedTitle","displayName":"localizedTitle","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"localizedDesc","displayName":"localizedDesc","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"privacyStatus","displayName":"privacyStatus","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"itemCount","displayName":"itemCount","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"embedHtml","displayName":"embedHtml","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"local_enGB_title","displayName":"local_enGB_title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"local_enGB_desc","displayName":"local_enGB_desc","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"snippet","displayName":"snippet","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"contentDetails","displayName":"contentDetails","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"player","displayName":"player","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"localizations","displayName":"localizations","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-4352,-144],"id":"0efc9d8a-108c-4632-92cd-0998d44bec75","name":"Append or update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"cCaKxPu7R5DuJeos","name":"Google Sheets account"}}},{"parameters":{"resource":"playlist","returnAll":true,"filters":{},"options":{}},"type":"n8n-nodes-base.youTube","typeVersion":1,"position":[-4576,-48],"id":"f6309dd0-0309-4a36-a9cd-e6631449b427","name":"Get many playlists","credentials":{"youTubeOAuth2Api":{"id":"XuNzOxxdsUCdMbxD","name":"YouTube account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1NXiSy92js4QEgUjLm4je7o9GwL0OFBFQcMuE2Q01AQ0","mode":"list","cachedResultName":"Social Media Tracker","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1NXiSy92js4QEgUjLm4je7o9GwL0OFBFQcMuE2Q01AQ0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Youtube Channel","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1NXiSy92js4QEgUjLm4je7o9GwL0OFBFQcMuE2Q01AQ0/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $json.id }}","etag":"={{ $json.etag }}","title":"={{ $json.snippet.title }}","description":"={{ $json.snippet.description }}","custom_url":"={{ $json.snippet.customUrl }}","published_at":"={{ $json.snippet.publishedAt }}","thumbnail_url":"={{ $json.snippet.thumbnails.default.url }}","snippet_thumbnails_default_width":"={{ $json.snippet.thumbnails.default.width }}","snippet_thumbnails_default_height":"={{ $json.snippet.thumbnails.default.height }}","snippet_thumbnails_medium_url":"={{ $json.snippet.thumbnails.medium.url }}","snippet_thumbnails_medium_width":"={{ $json.snippet.thumbnails.medium.width }}","snippet_thumbnails_medium_height":"={{ $json.snippet.thumbnails.medium.height }}","snippet_thumbnails_high_url":"={{ $json.snippet.thumbnails.high.url }}","snippet_thumbnails_high_width":"={{ $json.snippet.thumbnails.high.width }}","snippet_thumbnails_high_height":"={{ $json.snippet.thumbnails.high.height }}","snippet_localized_title":"={{ $json.snippet.localized.title }}","snippet_localized_description":"={{ $json.snippet.localized.description }}","country":"={{ $json.snippet.country }}","contentdetails_relatedplaylists_likes":"={{ $json.contentDetails.relatedPlaylists.likes }}","contentdetails_relatedplaylists_uploads":"={{ $json.contentDetails.relatedPlaylists.uploads }}","view_count":"={{ $json.statistics.viewCount }}","subscriber_count":"={{ $json.statistics.subscriberCount }}","statistics_hiddensubscribercount":"={{ $json.statistics.hiddenSubscriberCount }}","video_count":"={{ $json.statistics.videoCount }}","topicdetails_topicids":"={{ $json.topicDetails.topicIds }}","topicdetails_topiccategories":"={{ $json.topicDetails.topicCategories }}","status_privacystatus":"={{ $json.status.privacyStatus }}","status_islinked":"={{ $json.status.isLinked }}","status_longuploadsstatus":"={{ $json.status.longUploadsStatus }}","status_madeforkids":"={{ $json.status.madeForKids }}","status_selfdeclaredmadeforkids":"={{ $json.status.selfDeclaredMadeForKids }}","status_ischannelmonetizationenabled":"={{ $json.status.isChannelMonetizationEnabled }}","brandingsettings_channel_title":"={{ $json.brandingSettings.channel.title }}","brandingsettings_channel_description":"={{ $json.brandingSettings.channel.description }}","brandingsettings_channel_keywords":"={{ $json.brandingSettings.channel.keywords }}","brandingsettings_channel_country":"={{ $json.brandingSettings.channel.country }}","brandingsettings_image_bannerexternalurl":"={{ $json.brandingSettings.image.bannerExternalUrl }}","contentownerdetails":"={{ $json.contentOwnerDetails }}","snippet":"={{ $json.snippet }}","contentDetails":"={{ $json.contentDetails }}","statistics":"={{ $json.statistics }}","topicDetails":"={{ $json.topicDetails }}","status":"={{ $json.statistics }}","brandingSettings":"={{ $json.brandingSettings }}","contentOwnerDetails":"={{ $json.contentDetails }}","Time Stamp":"={{ $now.setZone('Europe/London').toFormat(\"cccc, dd MMMM yyyy HH:mm:ss.SSS\") }}","kind":"={{ $json.kind }}"},"matchingColumns":["id"],"schema":[{"id":"Row Number","displayName":"Row Number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"kind","displayName":"kind","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"etag","displayName":"etag","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"custom_url","displayName":"custom_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"published_at","displayName":"published_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"thumbnail_url","displayName":"thumbnail_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"snippet_thumbnails_default_width","displayName":"snippet_thumbnails_default_width","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"snippet_thumbnails_default_height","displayName":"snippet_thumbnails_default_height","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"snippet_thumbnails_medium_url","displayName":"snippet_thumbnails_medium_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"snippet_thumbnails_medium_width","displayName":"snippet_thumbnails_medium_width","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"snippet_thumbnails_medium_height","displayName":"snippet_thumbnails_medium_height","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"snippet_thumbnails_high_url","displayName":"snippet_thumbnails_high_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"snippet_thumbnails_high_width","displayName":"snippet_thumbnails_high_width","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"snippet_thumbnails_high_height","displayName":"snippet_thumbnails_high_height","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"snippet_localized_title","displayName":"snippet_localized_title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"snippet_localized_description","displayName":"snippet_localized_description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"country","displayName":"country","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"contentdetails_relatedplaylists_likes","displayName":"contentdetails_relatedplaylists_likes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"contentdetails_relatedplaylists_uploads","displayName":"contentdetails_relatedplaylists_uploads","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"view_count","displayName":"view_count","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"subscriber_count","displayName":"subscriber_count","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"statistics_hiddensubscribercount","displayName":"statistics_hiddensubscribercount","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"video_count","displayName":"video_count","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"topicdetails_topicids","displayName":"topicdetails_topicids","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"topicdetails_topiccategories","displayName":"topicdetails_topiccategories","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"status_privacystatus","displayName":"status_privacystatus","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"status_islinked","displayName":"status_islinked","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"status_longuploadsstatus","displayName":"status_longuploadsstatus","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"status_madeforkids","displayName":"status_madeforkids","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"status_selfdeclaredmadeforkids","displayName":"status_selfdeclaredmadeforkids","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"status_ischannelmonetizationenabled","displayName":"status_ischannelmonetizationenabled","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"brandingsettings_channel_title","displayName":"brandingsettings_channel_title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"brandingsettings_channel_description","displayName":"brandingsettings_channel_description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"brandingsettings_channel_keywords","displayName":"brandingsettings_channel_keywords","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"brandingsettings_channel_country","displayName":"brandingsettings_channel_country","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"brandingsettings_image_bannerexternalurl","displayName":"brandingsettings_image_bannerexternalurl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"contentownerdetails","displayName":"contentownerdetails","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"snippet","displayName":"snippet","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"contentDetails","displayName":"contentDetails","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"statistics","displayName":"statistics","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"topicDetails","displayName":"topicDetails","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"brandingSettings","displayName":"brandingSettings","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"contentOwnerDetails","displayName":"contentOwnerDetails","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Time Stamp","displayName":"Time Stamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"View Count Change","displayName":"View Count Change","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Subscriber Count Change","displayName":"Subscriber Count Change","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Video Count Change","displayName":"Video Count Change","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-4352,-336],"id":"004227a8-3601-4d10-bbdc-42a458c824cf","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"cCaKxPu7R5DuJeos","name":"Google Sheets account"}}},{"parameters":{"returnAll":true,"filters":{},"options":{}},"type":"n8n-nodes-base.youTube","typeVersion":1,"position":[-4576,-336],"id":"a6057699-994f-420a-ad2a-4b34a7a6493e","name":"Get many channels","credentials":{"youTubeOAuth2Api":{"id":"XuNzOxxdsUCdMbxD","name":"YouTube account"}}},{"parameters":{"rule":{"interval":[{"field":"weeks"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-4800,48],"id":"ccbcc6b8-8e1b-41b4-8b17-bd3bb714cd9d","name":"Schedule Trigger"},{"parameters":{"documentId":{"__rl":true,"value":"1NXiSy92js4QEgUjLm4je7o9GwL0OFBFQcMuE2Q01AQ0","mode":"list","cachedResultName":"Social Media Tracker","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1NXiSy92js4QEgUjLm4je7o9GwL0OFBFQcMuE2Q01AQ0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":531851866,"mode":"list","cachedResultName":"Youtube Playlist Items","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1NXiSy92js4QEgUjLm4je7o9GwL0OFBFQcMuE2Q01AQ0/edit#gid=531851866"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-4576,1040],"id":"cf531928-0cd8-4e1e-8500-f3c263a44238","name":"Get row(s) in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"cCaKxPu7R5DuJeos","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1NXiSy92js4QEgUjLm4je7o9GwL0OFBFQcMuE2Q01AQ0","mode":"list","cachedResultName":"Social Media Tracker","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1NXiSy92js4QEgUjLm4je7o9GwL0OFBFQcMuE2Q01AQ0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":400869454,"mode":"list","cachedResultName":"Youtube Videos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1NXiSy92js4QEgUjLm4je7o9GwL0OFBFQcMuE2Q01AQ0/edit#gid=400869454"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-4576,848],"id":"0ecc3cf3-d906-4603-bb74-c314c89bca74","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"cCaKxPu7R5DuJeos","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"0a9e6181-95ef-4ed2-8d24-c86347284878","leftValue":"={{ $json.playlistId }}","rightValue":"PLhbwCMHwm2MaBEEEGLWLQ6JK8YEpqM51f","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-4352,1040],"id":"d0e43ddc-c381-4002-8b6c-ff0197075456","name":"If"},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-4800,944],"id":"1c4dfdae-583e-4e3f-9163-599e2ae60b9b","name":"Schedule Trigger1"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1NXiSy92js4QEgUjLm4je7o9GwL0OFBFQcMuE2Q01AQ0","mode":"list","cachedResultName":"Social Media Tracker","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1NXiSy92js4QEgUjLm4je7o9GwL0OFBFQcMuE2Q01AQ0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":163395064,"mode":"list","cachedResultName":"Youtube -> FB / INSTA","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1NXiSy92js4QEgUjLm4je7o9GwL0OFBFQcMuE2Q01AQ0/edit#gid=163395064"},"columns":{"mappingMode":"defineBelow","value":{"videoId":"={{ $json.videoId }}","title":"={{ $json.title }}","description":"={{ $json.description }}"},"matchingColumns":["videoId"],"schema":[{"id":"videoId","displayName":"videoId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Facebook Repost?","displayName":"Facebook Repost?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Instagram Repost?","displayName":"Instagram Repost?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Short","displayName":"Short","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-4128,848],"id":"2d2a3338-6538-4a91-940c-254ec2e8689d","name":"Append or update row in sheet5","credentials":{"googleSheetsOAuth2Api":{"id":"cCaKxPu7R5DuJeos","name":"Google Sheets account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1NXiSy92js4QEgUjLm4je7o9GwL0OFBFQcMuE2Q01AQ0","mode":"list","cachedResultName":"Social Media Tracker","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1NXiSy92js4QEgUjLm4je7o9GwL0OFBFQcMuE2Q01AQ0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":163395064,"mode":"list","cachedResultName":"Youtube -> FB / INSTA","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1NXiSy92js4QEgUjLm4je7o9GwL0OFBFQcMuE2Q01AQ0/edit#gid=163395064"},"columns":{"mappingMode":"defineBelow","value":{"videoId":"={{ $json.videoId }}","title":"={{ $json.title }}","description":"={{ $json.description }}","Short":"TRUE"},"matchingColumns":["videoId"],"schema":[{"id":"videoId","displayName":"videoId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Facebook Repost?","displayName":"Facebook Repost?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Instagram Repost?","displayName":"Instagram Repost?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Short","displayName":"Short","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-4128,1040],"id":"b252a393-cecc-4f93-9411-818006001b54","name":"Append or update row in sheet6","credentials":{"googleSheetsOAuth2Api":{"id":"cCaKxPu7R5DuJeos","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1NXiSy92js4QEgUjLm4je7o9GwL0OFBFQcMuE2Q01AQ0","mode":"list","cachedResultName":"Social Media Tracker","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1NXiSy92js4QEgUjLm4je7o9GwL0OFBFQcMuE2Q01AQ0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":163395064,"mode":"list","cachedResultName":"Youtube -> FB / INSTA","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1NXiSy92js4QEgUjLm4je7o9GwL0OFBFQcMuE2Q01AQ0/edit#gid=163395064"},"options":{}},"id":"65558929-3af8-4e19-8de6-621a72939caf","name":"Get Sheet Rows1","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[-4352,1360],"credentials":{"googleSheetsOAuth2Api":{"id":"cCaKxPu7R5DuJeos","name":"Google Sheets account"}},"notes":"Replace YOUR_GOOGLE_SHEET_ID with the ID from your sheet URL.\nSheet tab name defaults to Sheet1 — update if yours is different."},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-3456,1264],"id":"dd2542dc-eb47-4b40-9f28-dbb866ef244d","name":"Limit"},{"parameters":{"method":"POST","url":"http://10.136.246.29:8081/add","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"url\": \"https://www.youtube.com/watch?v={{ $json.videoId }}\",\n  \"quality\": \"best\"\n}","options":{"allowUnauthorizedCerts":true}},"id":"b255b90f-f94e-493a-9222-e8a899762216","name":"Trigger QNAP Download","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-3232,1264]},{"parameters":{"url":"http://10.136.246.29:8082/download","sendQuery":true,"queryParameters":{"parameters":[{"name":"videoId","value":"={{ $('Limit').item.json.videoId }}"}]},"options":{"response":{"response":{"responseFormat":"file"}}}},"id":"d063d99c-8534-4fe5-88a6-2496ab04236e","name":"QNAP Sync Download1","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-3008,1264]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"c3a0fb12-0e8e-4642-8a9b-f16f98cff190","leftValue":"={{ $json.videoId }}","rightValue":true,"operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"d5236e9b-f2b2-4f4b-a898-2c0982241d7b","leftValue":"={{ $json.Short }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[-4128,1360],"id":"32208cc7-471b-4dbd-8a5c-9cfe055dd160","name":"Filter"},{"parameters":{"type":"random"},"type":"n8n-nodes-base.sort","typeVersion":1,"position":[-3680,1264],"id":"398e9e57-4f84-4ff0-b4a0-a047a0ece4f1","name":"Sort"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-3456,1456],"id":"15fbb9b8-bc62-4881-b832-3cd346ff9b76","name":"Limit1"},{"parameters":{"method":"POST","url":"http://10.136.246.29:8081/add","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"url\": \"https://www.youtube.com/watch?v={{ $json.videoId }}\",\n  \"quality\": \"best\"\n}","options":{"allowUnauthorizedCerts":true}},"id":"41d2f5b2-450d-4f96-b7da-d3f1c0e0bfbb","name":"Trigger QNAP Download1","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-3232,1456]},{"parameters":{"url":"http://10.136.246.29:8082/download","sendQuery":true,"queryParameters":{"parameters":[{"name":"videoId","value":"={{ $('Limit1').item.json.videoId }}"}]},"options":{"response":{"response":{"responseFormat":"file"}}}},"id":"f67bf2d1-e085-4d03-be8f-bd81bfdd6c8b","name":"QNAP Sync Download","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-3008,1456]},{"parameters":{"type":"random"},"type":"n8n-nodes-base.sort","typeVersion":1,"position":[-3680,1456],"id":"9289a257-e112-4b42-85c0-7ca54ade92b1","name":"Sort1"},{"parameters":{"operation":"upload","bucketName":"n8nyoutubereposter","fileName":"={{ $('Sort1').item.json.videoId }}","additionalFields":{}},"id":"cad22c4b-a8f9-43e9-aec6-e50e45827011","name":"Upload to Cloudflare R","type":"n8n-nodes-base.s3","typeVersion":1,"position":[-2784,1456],"credentials":{"s3":{"id":"B36VorbXLPMKXgI1","name":"S3 account"}}},{"parameters":{"jsCode":"return $input.all().filter(item => item.json && item.json.videoId && String(item.json.videoId).trim() !== '');"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-4352,848],"id":"7b2a617c-fb9b-44fa-b53d-5f21e6923e63","name":"Keep Only Valid Video IDs"},{"parameters":{"hostUrl":"graph-video.facebook.com","httpRequestMethod":"POST","graphApiVersion":"v23.0","node":"101512471365023","edge":"videos","sendBinaryData":true,"binaryPropertyName":"data","options":{"queryParameters":{"parameter":[{"name":"description","value":"={{ $('Limit').item.json.title + '\\n\\n' + $('Limit').item.json.description }}\n\n#tsnuk #ukstudents"}]}}},"type":"n8n-nodes-base.facebookGraphApi","typeVersion":1,"position":[-2784,1264],"id":"4df47128-b7d7-4fda-b1ba-a01090439fc3","name":"Facebook Graph API","credentials":{"facebookGraphApi":{"id":"XuZur3Wxlq777oXF","name":"TSN UK FB TOKEN"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"4e76f9ef-0e69-482d-a375-9b0d4e19bc61","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-2336,1456],"id":"169ef678-cd87-4768-8466-dad0e34889bc","name":"If1"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1NXiSy92js4QEgUjLm4je7o9GwL0OFBFQcMuE2Q01AQ0","mode":"list","cachedResultName":"Social Media Tracker","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1NXiSy92js4QEgUjLm4je7o9GwL0OFBFQcMuE2Q01AQ0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":163395064,"mode":"list","cachedResultName":"Youtube -> FB / INSTA","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1NXiSy92js4QEgUjLm4je7o9GwL0OFBFQcMuE2Q01AQ0/edit#gid=163395064"},"columns":{"mappingMode":"defineBelow","value":{"Instagram Repost?":"TRUE","videoId":"={{ $('Limit1').item.json.videoId }}"},"matchingColumns":["videoId"],"schema":[{"id":"videoId","displayName":"videoId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Facebook Repost?","displayName":"Facebook Repost?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Instagram Repost?","displayName":"Instagram Repost?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Short","displayName":"Short","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-2112,1456],"id":"bc1deeb1-dff5-495a-8395-c877e71b798b","name":"Update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"cCaKxPu7R5DuJeos","name":"Google Sheets account"}}},{"parameters":{"resource":"reels","node":"17841427619595824","videoUrl":"=https://pub-eb4794e7fd0842ad8dd4573163e8ccaf.r2.dev/{{ $('Limit1').item.json.videoId }}","caption":"={{ $('Limit1').item.json.title }} \n\n{{ $('Limit1').item.json.description }}\n\n#tsnuk #ukstudents #studentlife #universitylife #uk","additionalFields":{}},"type":"@mookielianhd/n8n-nodes-instagram.instagram","typeVersion":1,"position":[-2560,1456],"id":"6089f164-9353-4455-8ddd-113cad360113","name":"Publish","credentials":{"instagramApi":{"id":"QNkniIXNkHGr6Wod","name":"Instagram account"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":8},{"triggerAtHour":12},{"triggerAtHour":16},{"triggerAtHour":18}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-4800,1360],"id":"9d5b3ce0-293c-4c08-a850-7a0023acacec","name":"Schedule Trigger2"},{"parameters":{"amount":"={{ Math.floor(Math.random() * 60) + 1 }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-4576,1360],"id":"6ec16cd1-2f76-4784-9ae6-fbecda939fd3","name":"Wait","webhookId":"1dca77bc-58b2-4a6a-8eab-c6fde3c2a16d"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"4e76f9ef-0e69-482d-a375-9b0d4e19bc61","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-2560,1264],"id":"7704a86b-103f-4a76-a10f-1b1dc50066d2","name":"If4"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1NXiSy92js4QEgUjLm4je7o9GwL0OFBFQcMuE2Q01AQ0","mode":"list","cachedResultName":"Social Media Tracker","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1NXiSy92js4QEgUjLm4je7o9GwL0OFBFQcMuE2Q01AQ0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":163395064,"mode":"list","cachedResultName":"Youtube -> FB / INSTA","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1NXiSy92js4QEgUjLm4je7o9GwL0OFBFQcMuE2Q01AQ0/edit#gid=163395064"},"columns":{"mappingMode":"defineBelow","value":{"videoId":"={{ $('Limit').item.json.videoId }}","row_number":0,"Facebook Repost?":"TRUE"},"matchingColumns":["videoId"],"schema":[{"id":"videoId","displayName":"videoId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Facebook Repost?","displayName":"Facebook Repost?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Instagram Repost?","displayName":"Instagram Repost?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Short","displayName":"Short","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-2336,1264],"id":"77dc352b-20ee-4849-8869-2d409615ff99","name":"Update row in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"cCaKxPu7R5DuJeos","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"ba0dc405-1922-4266-9cf2-eff069ad41cc","leftValue":"={{ $json['Facebook Repost?'] }}","rightValue":false,"operator":{"type":"boolean","operation":"equals"}},{"id":"fcd099b0-2f8e-4ac1-b136-0a286f1e9309","leftValue":"={{ $json.Short }}","rightValue":false,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-3904,1264],"id":"16f28995-4948-4f87-bce5-ef4547b9ecfd","name":"Facebook"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"ba0dc405-1922-4266-9cf2-eff069ad41cc","leftValue":"={{ $json['Instagram Repost?'] }}","rightValue":false,"operator":{"type":"boolean","operation":"equals"}},{"id":"fcd099b0-2f8e-4ac1-b136-0a286f1e9309","leftValue":"={{ $json.Short }}","rightValue":false,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-3904,1456],"id":"faa2cfaa-76c0-4fd1-90f0-21c140233d5b","name":"Instagram"},{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[-4800,1680],"id":"c6eb0a30-93d6-434d-bc46-5cd3a60de5cf","name":"Error Trigger"},{"parameters":{"chatId":"7858455569","text":"theres an error with the workflow","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-4576,1680],"id":"dc1761fa-ad59-40dd-a85a-93230cfa6bfc","name":"Send a text message","webhookId":"c5564944-8b22-44fd-8549-8f3b5bce9b37","credentials":{"telegramApi":{"id":"CTx5BR3UB6tvGX4Q","name":"QNAP Agent"}}},{"parameters":{"chatId":"7858455569","text":"=📊 TSN Channel Update\n\n📺 {{ $json.title }}\n🕒 {{ $now.setZone('Europe/London').toFormat(\"cccc, d MMMM yyyy • h:mm a\") }}\n\n👁️ Views: {{ Number($json.view_count || $json.statistics.viewCount || 0).toLocaleString('en-GB') }}\n👥 Subscribers: {{ Number($json.subscriber_count || $json.statistics.subscriberCount || 0).toLocaleString('en-GB') }}\n🎬 Videos: {{ Number($json.video_count || $json.statistics.videoCount || 0).toLocaleString('en-GB') }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-4128,-336],"id":"2222242b-5ed4-49af-aa93-a5e4a142e3f2","name":"Send a text message1","webhookId":"c5564944-8b22-44fd-8549-8f3b5bce9b37","credentials":{"telegramApi":{"id":"FQ2HVoN5OpApUcFz","name":"N8N Agent"}}},{"parameters":{"chatId":"7858455569","text":"=📂 TSN Playlist Update\n\n🎬 Total Playlists: {{ Number($json.count_id || 0).toLocaleString('en-GB') }}\n\n✅ All playlists synced\n🕒 {{ $now.setZone('Europe/London').toFormat(\"cccc, d MMMM yyyy • h:mm a\") }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-3904,-144],"id":"33ddbfd1-2f00-47c6-aa67-be0eb2d6e35e","name":"Send a text message2","webhookId":"c5564944-8b22-44fd-8549-8f3b5bce9b37","credentials":{"telegramApi":{"id":"FQ2HVoN5OpApUcFz","name":"N8N Agent"}}},{"parameters":{"fieldsToSummarize":{"values":[{"field":"id"}]},"options":{}},"type":"n8n-nodes-base.summarize","typeVersion":1.1,"position":[-4128,-144],"id":"d80ceacf-e6db-4aee-beb1-36dbac6f49cd","name":"Summarize"},{"parameters":{"fieldsToSummarize":{"values":[{"field":"id"}]},"options":{}},"type":"n8n-nodes-base.summarize","typeVersion":1.1,"position":[-3904,48],"id":"5ca2596e-5af7-4f1e-89c0-8bc3c87f7e6f","name":"Summarize1"},{"parameters":{"chatId":"7858455569","text":"=📂 TSN Playlist Update\n\n🎬 Total Videos in Playlists: {{ Number($json.count_id || 0).toLocaleString('en-GB') }}\n🕒 {{ $now.setZone('Europe/London').toFormat(\"cccc, d MMMM yyyy • h:mm a\") }}\n\n⚡ Sync complete","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-3680,48],"id":"396bc496-bad3-4f4d-ae5d-db3adca6b40e","name":"Send a text message3","webhookId":"c5564944-8b22-44fd-8549-8f3b5bce9b37","credentials":{"telegramApi":{"id":"FQ2HVoN5OpApUcFz","name":"N8N Agent"}}},{"parameters":{"fieldsToSummarize":{"values":[{"field":"id"}]},"options":{}},"type":"n8n-nodes-base.summarize","typeVersion":1.1,"position":[-4128,240],"id":"33ea7b6c-ea50-48e2-b0d9-a8d3b2fa2bb0","name":"Summarize2"},{"parameters":{"chatId":"7858455569","text":"=📂 TSN Content System\n\n🏷️ Video Categories: {{ Number($json.count_id || 0).toLocaleString('en-GB') }}\n🕒 {{ $now.setZone('Europe/London').toFormat(\"cccc, d MMMM yyyy • h:mm a\") }}\n\n⚡ Category sync complete","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-3904,240],"id":"185e8b3a-e5e3-4802-9faf-63a4d6a985d2","name":"Send a text message4","webhookId":"c5564944-8b22-44fd-8549-8f3b5bce9b37","credentials":{"telegramApi":{"id":"FQ2HVoN5OpApUcFz","name":"N8N Agent"}}},{"parameters":{"chatId":"7858455569","text":"=📺 TSN Video Update\n\n🎬 Total Videos Pulled: {{ Number($items(\"Get many videos\").length || 0).toLocaleString('en-GB') }}\n🕒 {{ $now.setZone('Europe/London').toFormat(\"cccc, d MMMM yyyy • h:mm a\") }}\n\n✅ Video sync complete","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-3904,432],"id":"a3655181-92b5-41ae-86c8-f43aec49d249","name":"Send a text message5","webhookId":"c5564944-8b22-44fd-8549-8f3b5bce9b37","credentials":{"telegramApi":{"id":"FQ2HVoN5OpApUcFz","name":"N8N Agent"}}},{"parameters":{"chatId":"7858455569","text":"=📺 TSN Video Processing Update\n\n🎬 Videos Processed: {{ Number($json.count_id || 0).toLocaleString('en-GB') }}\n\n✅ Detailed video data synced\n🕒 {{ $now.setZone('Europe/London').toFormat(\"cccc, d MMMM yyyy • h:mm a\") }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-3680,624],"id":"0c83cab3-2f8f-45f4-a895-b1762916b3e6","name":"Send a text message6","webhookId":"c5564944-8b22-44fd-8549-8f3b5bce9b37","credentials":{"telegramApi":{"id":"FQ2HVoN5OpApUcFz","name":"N8N Agent"}}},{"parameters":{"fieldsToSummarize":{"values":[{"field":"id","includeEmpty":true}]},"options":{}},"type":"n8n-nodes-base.summarize","typeVersion":1.1,"position":[-3904,624],"id":"d86bb575-97f8-4f3a-855e-f795f15b0f0b","name":"Summarize3"},{"parameters":{"fieldsToSummarize":{"values":[{"field":"={{ $json.id.videoId }}","includeEmpty":true}]},"options":{}},"type":"n8n-nodes-base.summarize","typeVersion":1.1,"position":[-4128,432],"id":"bd253c18-7ddd-4090-b008-b3d846003047","name":"Summarize4"},{"parameters":{"chatId":"7858455569","text":"=Facebook repost successful: {{ $json[\"Facebook Repost?\"] ? \"Yes\" : \"No\" }}\n🕒 {{ $now ? $now.setZone('Europe/London').toFormat(\"cccc, d MMMM yyyy • h:mm a\") : \"\" }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-2112,1264],"id":"9d14d21d-2c16-4f3b-9e69-3046303f1c8d","name":"Send a text message7","webhookId":"c5564944-8b22-44fd-8549-8f3b5bce9b37","credentials":{"telegramApi":{"id":"FQ2HVoN5OpApUcFz","name":"N8N Agent"}}},{"parameters":{"chatId":"7858455569","text":"=Instagram repost successful: {{ String($json[\"Instagram Repost?\"]).toLowerCase() === \"true\" ? \"Yes\" : \"No\" }}\n🕒 {{ $now.setZone('Europe/London').toFormat(\"cccc, d MMMM yyyy • h:mm a\") }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-1888,1456],"id":"983cd023-8fd1-474b-a1a5-8726a93da040","name":"Send a text message8","webhookId":"c5564944-8b22-44fd-8549-8f3b5bce9b37","credentials":{"telegramApi":{"id":"FQ2HVoN5OpApUcFz","name":"N8N Agent"}}}],"connections":{"Get a video":{"main":[[{"node":"Append or update row in sheet4","type":"main","index":0}]]},"Get many videos":{"main":[[{"node":"Append or update row in sheet3","type":"main","index":0},{"node":"Get a video","type":"main","index":0}]]},"Get many video categories":{"main":[[{"node":"Append or update row in sheet2","type":"main","index":0}]]},"Get many playlist items":{"main":[[{"node":"Append or update row in sheet1","type":"main","index":0}]]},"Get many playlists":{"main":[[{"node":"Get many playlist items","type":"main","index":0},{"node":"Append or update row in sheet","type":"main","index":0}]]},"Get many channels":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Get many playlists","type":"main","index":0},{"node":"Get many video categories","type":"main","index":0},{"node":"Get many videos","type":"main","index":0},{"node":"Get many channels","type":"main","index":0}]]},"Append row in sheet":{"main":[[{"node":"Send a text message1","type":"main","index":0}]]},"Append or update row in sheet":{"main":[[{"node":"Summarize","type":"main","index":0}]]},"Append or update row in sheet1":{"main":[[{"node":"Summarize1","type":"main","index":0}]]},"Append or update row in sheet2":{"main":[[{"node":"Summarize2","type":"main","index":0}]]},"Append or update row in sheet3":{"main":[[{"node":"Summarize4","type":"main","index":0}]]},"Append or update row in sheet4":{"main":[[{"node":"Summarize3","type":"main","index":0}]]},"Get row(s) in sheet1":{"main":[[{"node":"If","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Keep Only Valid Video IDs","type":"main","index":0}]]},"If":{"main":[[{"node":"Append or update row in sheet6","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"Get row(s) in sheet1","type":"main","index":0},{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Append or update row in sheet5":{"main":[[]]},"Get Sheet Rows1":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Trigger QNAP Download","type":"main","index":0}]]},"Trigger QNAP Download":{"main":[[{"node":"QNAP Sync Download1","type":"main","index":0}]]},"QNAP Sync Download1":{"main":[[{"node":"Facebook Graph API","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Instagram","type":"main","index":0},{"node":"Facebook","type":"main","index":0}]]},"Sort":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Limit1":{"main":[[{"node":"Trigger QNAP Download1","type":"main","index":0}]]},"Trigger QNAP Download1":{"main":[[{"node":"QNAP Sync Download","type":"main","index":0}]]},"QNAP Sync Download":{"main":[[{"node":"Upload to Cloudflare R","type":"main","index":0}]]},"Sort1":{"main":[[{"node":"Limit1","type":"main","index":0}]]},"Upload to Cloudflare R":{"main":[[{"node":"Publish","type":"main","index":0}]]},"Keep Only Valid Video IDs":{"main":[[{"node":"Append or update row in sheet5","type":"main","index":0}]]},"If1":{"main":[[{"node":"Update row in sheet","type":"main","index":0}]]},"Publish":{"main":[[{"node":"If1","type":"main","index":0}]]},"Schedule Trigger2":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Get Sheet Rows1","type":"main","index":0}]]},"Facebook Graph API":{"main":[[{"node":"If4","type":"main","index":0}]]},"If4":{"main":[[{"node":"Update row in sheet1","type":"main","index":0}]]},"Facebook":{"main":[[{"node":"Sort","type":"main","index":0}]]},"Instagram":{"main":[[{"node":"Sort1","type":"main","index":0}]]},"Error Trigger":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"Send a text message1":{"main":[[]]},"Summarize":{"main":[[{"node":"Send a text message2","type":"main","index":0}]]},"Summarize1":{"main":[[{"node":"Send a text message3","type":"main","index":0}]]},"Summarize2":{"main":[[{"node":"Send a text message4","type":"main","index":0}]]},"Summarize3":{"main":[[{"node":"Send a text message6","type":"main","index":0}]]},"Summarize4":{"main":[[{"node":"Send a text message5","type":"main","index":0}]]},"Update row in sheet1":{"main":[[{"node":"Send a text message7","type":"main","index":0}]]},"Update row in sheet":{"main":[[{"node":"Send a text message8","type":"main","index":0}]]}},"authors":"Calvin Mckenzie","name":"Version b99535ba","description":"","autosaved":true,"workflowPublishHistory":[{"createdAt":"2026-04-20T23:33:35.662Z","id":35,"workflowId":"n7tXaZTayc5UpQDt","versionId":"b99535ba-26b9-4107-bd4f-bab07cdf1f68","event":"activated","userId":"ebfb0dec-3e41-46cd-bc25-d86a4d131899"}]}}